.accounting-docs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  opacity: 0.3;
  background-color: black;
}
.window-content {
  height: 410px;
}
.window-content .ui-tabs .ui-tabs-panel {
  background-color: transparent;
}
.window-content .actions-bar {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  height: 20px;
  padding: 10px;
}
.window-content .tabs-container .tab .tab-bar {
  padding: 5px;
}
.window-content .tabs-container .tab .tab-bar .tab-bar-content select {
  width: 105px;
}
.window-content .tabs-container .tab .grid {
  height: 320px;
  padding: 5px;
}
.window-content .tabs-container .tab .grid .table-content {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  height: 300px;
}
.window-content .tabs-container .tab .grid table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
.window-content .tabs-container .tab .grid table .col1 {
  width: 20px;
}
.window-content .tabs-container .tab .grid table .col2 {
  width: 50px;
}
.window-content .tabs-container .tab .grid table .col2.center {
  text-align: center;
}
.window-content .tabs-container .tab .grid table .col3 {
  width: 120px;
}
.window-content .tabs-container .tab .grid table .col4 {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.window-content .tabs-container .tab .grid table .col5 {
  width: 60px;
}
.window-content .tabs-container .tab .grid table .col6 {
  width: 85px;
}
.window-content .tabs-container .tab .grid table .col7 {
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.window-content .tabs-container .tab .grid table .col8 {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.window-content .tabs-container .tab .grid table th {
  font-weight: normal;
  text-align: left;
}
.window-content .tabs-container .tab .grid table td,
.window-content .tabs-container .tab .grid table th {
  padding: 0;
  padding-left: 5px;
}
.window-content .tabs-container .tab .grid table th:not(:first-child) {
  border-left: 1px solid #cccccc;
}
.window-content .tabs-container .tab .grid table tbody tr {
  cursor: pointer;
  line-height: 25px;
}
.window-content .tabs-container .tab .grid table tbody tr.item:hover td {
  background-color: rgba(228, 30, 118, 0.7);
  /*border-left: 1px solid #FFF;*/

}
.window-content .tabs-container .tab .grid table tbody tr.item td {
  padding: 0;
  padding-left: 5px;
}
.window-content .tabs-container .tab .grid table tbody tr.item td:not(:first-child) {
  border-left: 1px solid #cccccc;
}
.window-content .tabs-container .tab .grid table tbody tr.items table tr:hover td {
  background-color: rgba(228, 30, 118, 0.1);
  /*border-left: 1px solid #FFF;*/

}
.window-content .tabs-container .tab .grid table tbody tr.items td.colspan {
  padding-left: 0px;
}
.window-content .tabs-container .tab .grid table tbody tr.items td {
  padding: 0;
  padding-left: 5px;
}
.window-content .tabs-container .tab .grid table tbody tr.items td:not(:first-child) {
  border-left: 1px solid #cccccc;
}
.window-content .status-bar {
  height: 30px;
  padding: 5px;
  border-top: 1px solid #dddddd;
}
.window-content .status-bar .doc-count {
  line-height: 30px;
}
