#navigation a#account-link {
  display: inline-block;
  background: url(/content/media/images/gui/icons/drop-white-navbar.gif ) no-repeat right 8px;
  margin-right: 15px;
  margin-left: 10px;
  min-height: 32px;
}
#navigation #accountsettings-dropdown {
  background-color: #606060;
  width: 130px;
  height: 60px;
  position: absolute;
  line-height: normal;
  left: 5px;
  top: 22px;
  z-index: 100;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: none;
}
#navigation #accountsettings-dropdown ul {
  padding-top: 10px;
  -webkit-padding-start: 0;
  padding-left: 12px;
  width: 110px;
  text-align: left;
}
#navigation #accountsettings-dropdown ul li {
  padding-bottom: 10px;
}
#account-settings-twostep {
  background-image: url(/content/media/images/gui/icons/mobile_light.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}
#account-settings-password {
  background-image: url(/content/media/images/gui/icons/lock_light.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}
#account-settings-exchange-credentials {
  background-image: url(/content/media/images/gui/icons/outlook_light.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}
.account-settings-title {
  font-size: 16px;
  color: #774747;
}
.account-settings-title a {
  font-weight: normal;
  cursor: pointer;
}
.account-setting h1 {
  color: #774747;
}
.account-setting a {
  color: #774747;
  cursor: pointer;
}
.account-setting span.title {
  width: 80px;
}
.account-setting .editTwoStepVerificationAuth0.toggle,
.account-setting .editTwoStepVerification.toggle {
  width: 30px;
  position: absolute;
  top: 16px;
  left: 190px;
}
.accountSettingsTurnOffVerificationInstructions {
  font-family: "Segoe UI", tahoma, Arial, Helvetica, Sans-Serif;
  color: dimgray;
  margin-bottom: 20px;
}
.mobileSettingsInstructions {
  font-family: "Segoe UI", tahoma, Arial, Helvetica, Sans-Serif;
  color: dimgray;
  margin-bottom: 15px;
  font-size: 12px;
}
.mobileSettingsInstructions label {
  color: #774747;
  font-weight: bold;
  font-size: 12px;
}
#two-step-verification-instructions h1 {
  color: #774747;
  font-size: 14px;
  margin-top: 20px;
}
#two-step-verification-instructions p {
  margin-top: 15px;
  width: 220px;
}
#two-step-verification-instructions-auth0 h1 {
  color: #774747;
  font-size: 14px;
}
#two-step-verification-instructions-auth0 p {
  margin-bottom: 15px;
}
.two-step-verification-setup {
  margin-top: 15px;
  height: 95px;
  width: 110px;
  background-image: url(/content/media/images/gui/icons/2StepStartSetup.png);
  background-repeat: no-repeat;
  color: white;
  text-shadow: #606060 0px 1px 0px;
  cursor: pointer;
  font-size: 18px;
}
#two-step-verification-setup-container {
  width: 80px;
  margin-left: 31px;
  margin-top: 65px;
}
#two-step-verification-setup-start {
  height: 180px;
}
#two-step-verification-setup-start h1 {
  font-size: 16px;
  color: #774747;
  padding-left: 3px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 3px;
}
#two-step-verification-setup-start .two-step-setup-instructions {
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
#two-step-verification-setup-start label {
  color: #774747;
  font-weight: bold;
  font-size: 12px;
}
#two-step-verification-setup-start .row {
  padding-left: 8px;
  padding-top: 10px;
}
#two-step-verification-setup-start .two-step-setup-forgotpassword {
  padding-left: 15px;
  margin-top: 20px;
}
#two-step-verification-setup-start #mobileConfirmation .col-1 label {
  width: 68px;
}
#two-step-verification-setup-start #confirmCode .col-1 {
  width: 70px;
}
#two-step-verification-setup-start #code {
  width: 210px;
  margin-right: 20px;
}
#two-step-verification-setup-start #confirmCode .col-1 label {
  width: 68px;
}
#two-step-verification-setup-start.changePasswordDialog {
  height: auto;
}
#two-step-verification-setup-start.changePasswordDialog .instructions {
  display: inline-block;
  text-align: left;
  padding-top: 10px;
  padding-left: 18px;
  width: 300px;
  height: 25px;
  font-family: Verdana, Geneva, sans-serif;
  color: #774747;
  font-size: 11px;
}
#two-step-verification-setup-start.changePasswordDialog .password-rules {
  margin-top: 10px;
  list-style: none;
  padding-left: 25px;
}
#two-step-verification-setup-start.changePasswordDialog .password-rules li {
  text-align: left;
  width: 300px;
  font-family: Verdana, Geneva, sans-serif;
  color: #ff5454;
  font-size: 11px;
}
#two-step-verification-setup-start.changePasswordDialog .password-rules li:before {
  content: '✗ ';
}
#two-step-verification-setup-start.changePasswordDialog .password-rules li.valid {
  color: #84e000;
}
#two-step-verification-setup-start.changePasswordDialog .password-rules li.valid:before {
  content: '✓ ';
}
#two-step-verification-setup-start.changePasswordDialog .passwordSettingError {
  padding-top: 10px;
  color: #ed1c24;
}
.two-step-setup-confirm {
  margin-left: 10px;
}
.two-step-setup-send-result {
  color: #ed1c24;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  padding-top: 20px;
}
.two-step-setup-send-result strong {
  color: #774747;
}
.mobilePhoneChangeDialog label {
  font-weight: bold;
  color: #774747;
  margin-right: 10px;
  font-size: 12px;
}
.mobilePhoneChangeDialog input[type="text"] {
  height: 18px;
  width: 180px;
  font-size: 10px;
}
.turnOffVerificationDialog {
  float: left;
}
.turnOffVerificationDialog label {
  font-weight: bold;
  color: #774747;
  margin-right: 10px;
  font-size: 12px;
}
.turnOffVerificationDialog input[type="password"] {
  height: 18px;
  width: 150px;
}
.turnOffVerficiationError {
  padding-left: 5px;
  float: left;
  width: 160px;
  margin-bottom: 0;
}
#two-step-verification-setup-start label#passwordStrength {
  display: block;
  display: none;
  width: 170px;
  height: 27px;
  margin-top: 6px;
  margin-left: 115px;
  padding-left: 35px !important;
  padding-top: 12px !important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#two-step-verification-setup-start label#passwordStrength.weak {
  background: url(/content/media/images/gui/Security/passwordstrengthweak.png) no-repeat left 1px;
  color: #774747;
}
#two-step-verification-setup-start label#passwordStrength.strong {
  background: url(/content/media/images/gui/Security/passwordstrengthstrong.png) no-repeat left 1px;
  color: #79c204;
}
#closeConfirmCode {
  color: #774747;
  text-decoration: underline;
  cursor: pointer;
}
.two-step-verification-setup-error {
  margin-top: 10px;
  margin-left: 15px;
  color: #ed1c24;
  font-weight: bold;
}
.dialog-help-text {
  font-family: "Segoe UI", tahoma, Arial, Helvetica, Sans-Serif;
  color: dimgray;
  margin-bottom: 20px;
}
