/* header-bar is a common item?*/

.header-bar {
  background: #bdbdbe;
  padding: 0 10px;
  color: white;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.5em;
}
.TDSLogo {
  margin-right: 10px;
  height: 25px;
  width: auto;
  margin-bottom: 5px;
}
span.TDSLogo {
  background: url(TDS-Logo-Only.svg) no-repeat top left;
  height: 25px;
  width: 23px;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
}
.tdsadmin-container {
  /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
  padding-bottom: 15px;
  box-sizing: border-box;
}
.tdsadmin-container .header-bar {
  margin: 0 -15px 15px;
}
.tdsadmin-container .tds-members {
  padding-right: 0;
}
.tdsadmin-container .boxed {
  background-color: #f4f4f4;
  border: 1px solid #cccccc;
  padding: 5px;
  flex-grow: 1;
}
.tdsadmin-container .list-group-item {
  margin-bottom: 3px;
  padding: 10px;
}
.tdsadmin-container .fa-id-card {
  vertical-align: middle;
  margin-right: 0.5em;
}
.tdsadmin-container .btn-sq {
  width: 2em;
  min-width: 2em;
  padding: 0;
  height: 2em;
}
.tdsadmin-container .btn-delete {
  color: white;
  background: red;
  border-color: #d43f3a;
}
.tdsadmin-container .btn-delete:hover {
  color: white;
  background: #eb0d06;
}
.tdsadmin-container select.is-customised {
  width: 100%;
}
.tdsadmin-container .customStyleSelectBox {
  box-sizing: content-box;
}
.tdsadmin-container .text-col {
  float: left;
}
.tdsadmin-container .text-col .fa {
  margin-top: 5px;
}
.tdsadmin-container .text-col > span + span {
  margin-left: 40px;
  display: block;
  max-width: calc(100% - 40px);
}
.tdsadmin-container .text-col small {
  color: #bdbdbe;
  display: block;
}
.tdsadmin-container .text-col .member-id-text {
  color: #197fc3;
  font-size: 1.5em;
}
.tdsadmin-container .branch-col {
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 40px);
}
.tdsadmin-container .branch-col > span + span {
  margin-left: 40px;
  display: block;
}
.tdsadmin-container .branch-col .branch-name {
  color: #197fc3;
  font-size: 1.5em;
}
.tdsadmin-container .branch-col .fa {
  float: left;
}
.tdsadmin-container .branch-col small {
  display: block;
}
.tdsadmin-container .mapping-col {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}
.tdsadmin-container .mapping-col .col-xs-6 {
  padding-left: 0;
}
.tdsadmin-container .button-col {
  width: 30px;
  vertical-align: top;
  display: inline-block;
}
.tdsadmin-container .allocated .save-map {
  display: none;
}
.tdsadmin-container .allocated .delete-branch-map {
  display: inline-block;
}
.tdsadmin-container .allocated .modified .branch-name {
  color: #80b33a;
}
.tdsadmin-container .allocated .modified .save-map {
  display: inline-block;
}
.tdsadmin-container .allocated .modified .delete-branch-map {
  display: none;
}
.tdsadmin-container .unallocated .save-map {
  display: none;
}
.tdsadmin-container .unallocated .modified .branch-name {
  color: #80b33a;
}
.tdsadmin-container .unallocated .modified .save-map {
  display: inline-block;
}
.flexbox {
  display: flex;
  height: 100%;
}
.flex-col {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.flex-row {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
}
.TDSModal .ui-tabs .ui-tabs-panel {
  top: 29px;
}
