div.add-a-property {
  background-color: white;
  border-radius: 3px;
  padding: 12px;
  font-family: 'Lato', sans-serif !important;
  box-sizing: border-box;
}
div.add-a-property .btn-lookup {
  border-radius: 3px;
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  min-width: 54px;
  padding: 8px 12px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Lato', sans-serif !important;
}
div.add-a-property .title {
  font-size: 14px;
  font-family: 'Lato', sans-serif !important;
  color: black;
  margin-bottom: 4px;
}
div.add-a-property .description {
  line-height: 16px;
}
