#BoardManagement .tablex .header {
  top: 68px !important;
}
#BoardManagement .tablex .header th {
  height: 40px;
}
#BoardManagement .tablex .body {
  top: 108px !important;
}
#BoardManagement .tab-column {
  width: 130px;
  margin-left: 5px;
}
#BoardManagement .tab-column-margin {
  margin-left: 34px;
}
#BoardManagement .boardManagementToolView .board-intro {
  padding: 10px;
}
#BoardManagement .boardManagementToolView .board-intro h1 {
  font-size: 20px;
}
#BoardManagement .boardManagementToolView .board-intro h1 i {
  width: 20px;
  margin-left: 2px;
}
#BoardManagement .boardManagementToolView .board-intro p {
  margin-left: 28px;
  width: 634px;
  font-size: 12px;
}
#BoardManagement .boardManagementToolView .preview-link:hover {
  text-decoration: underline;
  color: white !important;
}
#BoardManagement .boardManagementToolView td a:hover {
  text-decoration: underline !important;
}
#BoardManagement .boardManagementToolView tr:hover td {
  cursor: default !important;
}
#BoardManagement .boardManagementToolView tr:hover td span {
  color: white !important;
}
#BoardManagement .boardManagementToolView tr:hover td.fromto-container .fromto-pointer {
  color: white;
}
#BoardManagement .boardManagementToolView .old-board {
  border: 0;
  border-top: solid 1px white;
  background-color: rgba(192, 128, 64, 0.5);
  color: white;
  height: 30px;
  text-transform: uppercase;
}
#BoardManagement .boardManagementToolView .old-board.none {
  background-color: rgba(255, 255, 255, 0.5);
  color: #404040;
}
#BoardManagement .boardManagementToolView .new-board {
  border: 0;
  border-top: solid 1px white;
  background-color: rgba(0, 160, 0, 0.5);
  color: white;
  height: 30px;
  text-transform: uppercase;
}
#BoardManagement .boardManagementToolView .new-board.none {
  background-color: rgba(255, 255, 255, 0.5);
  color: #404040;
}
#BoardManagement .boardManagementToolView .fromto-container {
  position: relative;
  text-align: center;
}
#BoardManagement .boardManagementToolView .fromto-container .fromto-pointer {
  position: absolute;
  top: 16px;
  left: 9px;
  color: #606060;
  font-size: 17px;
}
#BoardManagement #boardView td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.boardChangeSelectContractor {
  font-size: 12px;
}
.boardChangeSelectContractor label {
  margin-right: 7px;
  font-size: 12px;
}
