:root,
:host,
:host.altoLight,
::backdrop {
  --borderWidths-100: 1px;
  --borderWidths-200: 2px;
  --borderWidths-400: 4px;
  --borderWidths-buttonSecondary: 1px;
  --fontFamilies-100: lato-regular, helvetica, arial, sans-serif;
  --fontFamilies-200: lato-bold, helvetica, arial, sans-serif;
  --fontSizes-S100: 10px;
  --fontSizes-S200: 12px;
  --fontSizes-S300: 14px;
  --fontSizes-S400: 16px;
  --fontSizes-S500: 18px;
  --fontSizes-M100: 22px;
  --fontSizes-M200: 24px;
  --fontSizes-M300: 28px;
  --fontSizes-M400: 32px;
  --fontSizes-L100: 40px;
  --fontSizes-L200: 48px;
  --fontSizes-L300: 56px;
  --fontSizes-L400: 64px;
  --fontSizes-ovenSmall: 48px;
  --fontSizes-ovenMedium: 56px;
  --fontSizes-ovenLarge: 64px;
  --fontSizes-grillSmall: 48px;
  --fontSizes-grillMedium: 48px;
  --fontSizes-grillLarge: 56px;
  --fontSizes-toasterSmall: 40px;
  --fontSizes-toasterMedium: 48px;
  --fontSizes-toasterLarge: 48px;
  --fontSizes-teapotSmall: 32px;
  --fontSizes-teapotMedium: 40px;
  --fontSizes-teapotLarge: 40px;
  --fontSizes-kettleSmall: 28px;
  --fontSizes-kettleMedium: 32px;
  --fontSizes-kettleLarge: 32px;
  --fontSizes-plateSmall: 24px;
  --fontSizes-plateMedium: 28px;
  --fontSizes-plateLarge: 28px;
  --fontSizes-mugSmall: 22px;
  --fontSizes-mugMedium: 22px;
  --fontSizes-mugLarge: 22px;
  --fontSizes-whiskSmall: 18px;
  --fontSizes-whiskMedium: 18px;
  --fontSizes-whiskLarge: 18px;
  --fontSizes-ladleSmall: 16px;
  --fontSizes-ladleMedium: 16px;
  --fontSizes-ladleLarge: 16px;
  --fontSizes-forkSmall: 14px;
  --fontSizes-forkMedium: 14px;
  --fontSizes-forkLarge: 14px;
  --fontSizes-knifeSmall: 12px;
  --fontSizes-knifeMedium: 14px;
  --fontSizes-knifeLarge: 14px;
  --fontSizes-spoonSmall: 12px;
  --fontSizes-spoonMedium: 12px;
  --fontSizes-spoonLarge: 12px;
  --fontSizes-zesterSmall: 10px;
  --fontSizes-zesterMedium: 10px;
  --fontSizes-zesterLarge: 10px;
  --fontWeights-200: 400;
  --fontWeights-400: 700;
  --fontWeights-button: 700;
  --fontWeights-inputLabel: 700;
  --letterSpacings-negative100: -0.01em;
  --letterSpacings-negative200: -0.02em;
  --letterSpacings-negative300: -0.03em;
  --letterSpacings-buttonDefault: 0;
  --letterSpacings-buttonSmall: 0;
  --lineHeights-S100: 14px;
  --lineHeights-S200: 16px;
  --lineHeights-S300: 20px;
  --lineHeights-S400: 24px;
  --lineHeights-S500: 28px;
  --lineHeights-M100: 32px;
  --lineHeights-M200: 36px;
  --lineHeights-M300: 40px;
  --lineHeights-M400: 44px;
  --lineHeights-L100: 48px;
  --lineHeights-L200: 56px;
  --lineHeights-L300: 64px;
  --lineHeights-L400: 72px;
  --lineHeights-ovenSmall: 56px;
  --lineHeights-ovenMedium: 64px;
  --lineHeights-ovenLarge: 72px;
  --lineHeights-grillSmall: 56px;
  --lineHeights-grillMedium: 56px;
  --lineHeights-grillLarge: 64px;
  --lineHeights-toasterSmall: 48px;
  --lineHeights-toasterMedium: 56px;
  --lineHeights-toasterLarge: 56px;
  --lineHeights-teapotSmall: 44px;
  --lineHeights-teapotMedium: 48px;
  --lineHeights-teapotLarge: 48px;
  --lineHeights-kettleSmall: 40px;
  --lineHeights-kettleMedium: 44px;
  --lineHeights-kettleLarge: 44px;
  --lineHeights-plateSmall: 36px;
  --lineHeights-plateMedium: 40px;
  --lineHeights-plateLarge: 40px;
  --lineHeights-mugSmall: 32px;
  --lineHeights-mugMedium: 32px;
  --lineHeights-mugLarge: 32px;
  --lineHeights-whiskSmall: 28px;
  --lineHeights-whiskMedium: 28px;
  --lineHeights-whiskLarge: 28px;
  --lineHeights-ladleSmall: 24px;
  --lineHeights-ladleMedium: 24px;
  --lineHeights-ladleLarge: 24px;
  --lineHeights-forkSmall: 20px;
  --lineHeights-forkMedium: 20px;
  --lineHeights-forkLarge: 20px;
  --lineHeights-knifeSmall: 16px;
  --lineHeights-knifeMedium: 20px;
  --lineHeights-knifeLarge: 20px;
  --lineHeights-spoonSmall: 16px;
  --lineHeights-spoonMedium: 16px;
  --lineHeights-spoonLarge: 16px;
  --lineHeights-zesterSmall: 14px;
  --lineHeights-zesterMedium: 14px;
  --lineHeights-zesterLarge: 14px;
  --media-S100: (min-width: 320px);
  --media-S140: (min-width: 360px);
  --media-S200: (min-width: 550px);
  --media-S200Max: (max-width: 550px);
  --media-M100: (min-width: 768px);
  --media-M400: (min-width: 960px);
  --media-L100: (min-width: 1024px);
  --media-L140: (min-width: 1080px);
  --media-L160: (min-width: 1140px);
  --media-L200: (min-width: 1272px);
  --media-L300: (min-width: 1440px);
  --media-L600: (min-width: 1920px);
  --opacities-100: 4%;
  --opacities-200: 8%;
  --opacities-300: 16%;
  --opacities-400: 24%;
  --opacities-500: 32%;
  --opacities-600: 80%;
  --opacities-opaque: 100%;
  --opacities-transparent: 0%;
  --radii-100: 0px;
  --radii-200: 2px;
  --radii-300: 4px;
  --radii-400: 8px;
  --radii-500: 16px;
  --radii-600: 24px;
  --radii-pill: 999px;
  --radii-circle: 100%;
  --radii-badge: 999px;
  --radii-button: 4px;
  --radii-input: 4px;
  --radii-tag: 4px;
  --shadows-100:
    0px 0px 8px #2626300a, 0px 0px 1px #2626303d, 0px 8px 8px -8px #2626303d;
  --shadows-200:
    0px 0px 12px #2626301f, 0px 0px 1px #26263066, 0px 8px 16px -8px #2626303d;
  --shadows-800:
    0px 0px 12px #2626301f, 0px 0px 1px #26263066, 0px 8px 16px -8px #262630ad;
  --shadows-900: 0px 0px 24px #2626303d;
  --shadows-focusRing: 0px 0px 0px 2px #fac8f0;
  --shadows-galleryDots:
    0px 0px 12px #2626301f, 0px 0px 1px #26263066, 0px 1px 4px #262630ad;
  --sizes-XS100: 1px;
  --sizes-XS200: 2px;
  --sizes-XS300: 4px;
  --sizes-XS400: 8px;
  --sizes-S100: 10px;
  --sizes-S200: 12px;
  --sizes-S300: 14px;
  --sizes-S400: 16px;
  --sizes-S500: 18px;
  --sizes-M100: 22px;
  --sizes-M200: 24px;
  --sizes-M300: 28px;
  --sizes-M400: 32px;
  --sizes-L100: 40px;
  --sizes-L200: 48px;
  --sizes-L300: 56px;
  --sizes-L400: 64px;
  --sizes-L500: 72px;
  --sizes-L600: 80px;
  --sizes-L700: 88px;
  --sizes-L800: 96px;
  --sizes-L900: 104px;
  --sizes-XL100: 208px;
  --sizes-XL200: 248px;
  --sizes-XL300: 288px;
  --sizes-XL400: 328px;
  --sizes-XL500: 368px;
  --sizes-XL600: 408px;
  --sizes-XL700: 448px;
  --sizes-XL800: 488px;
  --sizes-XL900: 528px;
  --sizes-XXL100: 600px;
  --sizes-XXL200: 640px;
  --sizes-XXL300: 680px;
  --sizes-XXL400: 720px;
  --sizes-XXL500: 760px;
  --sizes-XXL600: 800px;
  --sizes-XXL700: 840px;
  --sizes-XXL800: 880px;
  --sizes-XXL900: 920px;
  --sizes-buttonMinWidth: 160px;
  --sizes-buttonHeightDefault: 48px;
  --sizes-buttonHeightSmall: 36px;
  --sizes-heroMinHeight: 488px;
  --sizes-heroHeroCardMaxWidth: 384px;
  --sizes-iconSizeSmall: 16px;
  --sizes-iconSizeMedium: 24px;
  --sizes-iconSizeLarge: 32px;
  --sizes-iconSizeXLarge: 48px;
  --sizes-inputMaxWidth: 472px;
  --sizes-inputSmall: 104px;
  --sizes-inputMedium: 288px;
  --sizes-inputLarge: 528px;
  --sizes-inputXLarge: 720px;
  --sizes-readabilityMaxWidth: 720px;
  --sizes-queryS100: 320px;
  --sizes-queryS200: 360px;
  --sizes-queryS600: 550px;
  --sizes-queryM100: 768px;
  --sizes-queryM600: 960px;
  --sizes-queryL100: 1024px;
  --sizes-queryL120: 1080px;
  --sizes-queryL180: 1140px;
  --sizes-queryL200: 1272px;
  --sizes-queryL300: 1440px;
  --sizes-selectMaxHeight: 328px;
  --sizes-tagMaxWidth: 488px;
  --sizes-viewportL100Adverts: 300px;
  --sizes-viewportMaxWidth: 1224px;
  --space-S100: 4px;
  --space-S200: 8px;
  --space-S300: 12px;
  --space-S400: 16px;
  --space-S500: 24px;
  --space-S060: 2px;
  --space-M100: 32px;
  --space-M200: 40px;
  --space-M300: 48px;
  --space-M400: 56px;
  --space-L100: 64px;
  --space-L200: 72px;
  --space-L300: 96px;
  --space-L400: 120px;
  --space-gapS100: 16px;
  --space-gapL100: 24px;
  --space-gapTextUnderlineOffsetLink: 0.64ex;
  --space-gapTextUnderlineOffsetTertiaryButton: 0.64ex;
  --space-paddingButtonDefault: 16px;
  --space-paddingButtonSmall: 12px;
  --space-paddingButtonButtonIconDefault: 12px;
  --space-paddingButtonButtonIconSmall: 10px;
  --space-pageMarginS100: 16px;
  --space-pageMarginL100: 24px;
  --space-viewportS100Gap: 16px;
  --space-viewportS100PageMargin: 16px;
  --space-viewportM100Gap: 24px;
  --space-viewportM100PageMargin: 24px;
  --space-viewportL100Gap: 24px;
  --space-viewportL100PageMargin: 24px;
  --transitions-delayS100: 0.16s;
  --transitions-delayL100: 1.6s;
  --transitions-delayL200: 2.4s;
  --transitions-delayL300: 3.2s;
  --transitions-delayL400: 4s;
  --transitions-delayL500: 4.8s;
  --transitions-delayL600: 5.6s;
  --transitions-delayL700: 6.4s;
  --transitions-delayL800: 7.2s;
  --transitions-delayL900: 8s;
  --transitions-durationS100: 0.16s;
  --transitions-durationS200: 0.24s;
  --transitions-durationS300: 0.32s;
  --transitions-durationS400: 0.4s;
  --transitions-durationS500: 0.48s;
  --transitions-durationS600: 0.56s;
  --transitions-durationS700: 0.64s;
  --transitions-durationS800: 0.72s;
  --transitions-durationM100: 0.8s;
  --transitions-durationM200: 0.88s;
  --transitions-durationM300: 0.96s;
  --transitions-durationM400: 1.04s;
  --transitions-durationM500: 1.12s;
  --transitions-durationM600: 1.2s;
  --transitions-durationM700: 1.36s;
  --transitions-durationM800: 1.44s;
  --transitions-durationL100: 1.52s;
  --transitions-durationL200: 1.6s;
  --transitions-durationL300: 1.68s;
  --transitions-durationL400: 1.76s;
  --transitions-durationL500: 1.84s;
  --transitions-durationL600: 1.92s;
  --transitions-durationL700: 2s;
  --transitions-durationL800: 2.08s;
  --transitions-timingS100: cubic-bezier(0.3, 0, 0.8, 1);
  --transitions-timingLinear: linear;
  --zIndices-below: -1;
  --zIndices-zero: 0;
  --zIndices-above: 1;
  --zIndices-pin: 100;
  --zIndices-badgeCount: 100;
  --zIndices-floatingButton: 200;
  --zIndices-listbox: 300;
  --zIndices-stickySheet: 400;
  --zIndices-header: 700;
  --zIndices-tooltip: 800;
  --zIndices-modal: 900;
  --zIndices-dropdown: 2;
  --colors-gradientBlackUp: linear-gradient(0deg, #000000cc 0%, #00000000 100%);
  --colors-gradientBlackDown: linear-gradient(
    0deg,
    #00000000 0%,
    #000000cc 100%
  );
  --colors-gradientWhiteUp: linear-gradient(0deg, #ffffffcc 0%, #ffffff00 100%);
  --colors-gradientWhiteDown: linear-gradient(
    0deg,
    #ffffff00 0%,
    #ffffffcc 100%
  );
  --colors-gradientShadow200Up:
    linear-gradient(0deg, #2626301f 0%, #26263000 16%, #26263000 100%),
    linear-gradient(0deg, #26263014 0%, #26263000 100%);
  --colors-blackA3: #0000003d;
  --colors-wave: linear-gradient(
    90deg,
    #ffffff00 0%,
    #ffffff3d 24%,
    #ffffff7a 50%,
    #ffffff3d 76%,
    #ffffff00 100%
  );
  --colors-blue: #236184;
  --colors-blueT0: #2c8096;
  --colors-blueT1: #6bbeca;
  --colors-blueT2: #a5ebeb;
  --colors-blueT3: #d7f6f5;
  --colors-blueT4: #e6fafa;
  --colors-blueT5: #f6f9fa;
  --colors-blueMid: #1b4a64;
  --colors-blueDark: #262630;
  --colors-blueDarkA0: #262630ad;
  --colors-blueDarkA1: #26263085;
  --colors-blueDarkA2: #26263066;
  --colors-blueDarkA3: #2626303d;
  --colors-blueDarkA4: #2626301f;
  --colors-blueDarkA5: #2626300a;
  --colors-white: #ffffff;
  --colors-whiteA0: #ffffffad;
  --colors-whiteA1: #ffffff85;
  --colors-whiteA2: #ffffff66;
  --colors-whiteA3: #ffffff3d;
  --colors-whiteA4: #ffffff1f;
  --colors-whiteA5: #ffffff0a;
  --colors-neutral1: #f7f6f5;
  --colors-neutral2: #e8e7e6;
  --colors-neutral3: #d1d0cf;
  --colors-neutral4: #949494;
  --colors-neutral5: #76767c;
  --colors-neutral6: #595963;
  --colors-maroon: #911e55;
  --colors-maroonT0: #b13975;
  --colors-maroonT1: #d25596;
  --colors-maroonT2: #ff91d7;
  --colors-maroonT3: #fac8f0;
  --colors-maroonT4: #fae1f5;
  --colors-maroonT5: #fdf5fc;
  --colors-brown: #d25537;
  --colors-brownT0: #df6648;
  --colors-brownT1: #ed785a;
  --colors-brownT2: #fa967d;
  --colors-brownT3: #ffd2b9;
  --colors-brownT4: #ffe6dc;
  --colors-brownT5: #fff7f4;
  --colors-orange: #f58c00;
  --colors-orangeT0: #fa9b00;
  --colors-orangeT1: #ffaa00;
  --colors-orangeT2: #ffcd1a;
  --colors-orangeT3: #fff0a0;
  --colors-orangeT4: #fff8c8;
  --colors-orangeT5: #fffce9;
  --colors-green: #0a5f41;
  --colors-greenT0: #158453;
  --colors-greenT1: #4ba073;
  --colors-greenT2: #8cd7aa;
  --colors-greenT3: #cdf0cd;
  --colors-greenT4: #ebfae6;
  --colors-greenT5: #f7fdf5;
  --colors-purple: #8046f1;
  --colors-purpleT0: #a57bf5;
  --colors-purpleT1: #be9ff8;
  --colors-purpleT2: #ceb7f9;
  --colors-purpleT3: #decefb;
  --colors-purpleT4: #f0e9fd;
  --colors-purpleT5: #faf8fe;
  --colors-purpleMid: #662dbe;
  --colors-red: #cc0000;
  --colors-redT2: #ff8080;
  --colors-redT3: #ffd6d6;
  --colors-purpleDark: #322744;
  --colors-purpleDarkA0: #322744ad;
  --colors-purpleDarkA1: #32274485;
  --colors-purpleDarkA2: #32274466;
  --colors-purpleDarkA3: #3227443d;
  --colors-purpleDarkA4: #3227441f;
  --colors-purpleDarkA5: #3227440a;
  --colors-blueDenim: #236184;
  --colors-blueDenimMid: #1b4a64;
  --colors-blueDenimT0: #3d7493;
  --colors-blueDenimT1: #729ab0;
  --colors-blueDenimT2: #a7c0ce;
  --colors-blueDenimT3: #cad9e1;
  --colors-blueDenimT4: #e5ecf0;
  --colors-blueDenimT5: #f6f9fa;
  --colors-accordionBorderDefault: #2626303d;
  --colors-accordionBorderHover: #26263085;
  --colors-accordionTextDefault: #262630;
  --colors-avatar100BackgroundDefault: #cdf0cd;
  --colors-avatar200BackgroundDefault: #d7f6f5;
  --colors-avatar300BackgroundDefault: #fac8f0;
  --colors-avatar400BackgroundDefault: #fff0a0;
  --colors-avatar500BackgroundDefault: #ffd2b9;
  --colors-avatar600BackgroundDefault: #262630;
  --colors-avatarBrandBackgroundDefault: #d7f6f5;
  --colors-avatarContrastBackgroundDefault: #ffffff3d;
  --colors-badgeLevel1Background: #262630;
  --colors-badgeLevel1Text: #ffffff;
  --colors-badgeLevel2Background: #ffcd1a;
  --colors-badgeLevel2Text: #262630;
  --colors-badgeLevel3Background: #ffffff;
  --colors-badgeLevel3Border: #ffcd1a;
  --colors-badgeLevel3Text: #262630;
  --colors-badgeLevel4Background: #ffffff;
  --colors-badgeLevel4Border: #949494;
  --colors-badgeLevel4Text: #262630;
  --colors-badgeAgentActionBackground: #1b4a64;
  --colors-badgeAgentActionText: #ffffff;
  --colors-badgeAreaGuideBorder: #0a5f41;
  --colors-badgeAttributeText: #262630;
  --colors-badgeBuyingSchemeBackground: #f6f9fa;
  --colors-badgeBuyingSchemeBorder: #d7f6f5;
  --colors-badgeBuyingSchemeText: #262630;
  --colors-badgeCompletionDateBackground: #2c8096;
  --colors-badgeCompletionDateText: #ffffff;
  --colors-badgeCountBackground: #262630;
  --colors-badgeCountText: #ffffff;
  --colors-badgeExpiredBackground: #cc0000;
  --colors-badgeExpiredText: #ffffff;
  --colors-badgeFeaturedBackground: #236184;
  --colors-badgeFeaturedText: #ffffff;
  --colors-badgeGuestAuthorBackground: #262630;
  --colors-badgeGuestAuthorText: #ffffff;
  --colors-badgeHomeownerBackground: #fac8f0;
  --colors-badgeLandlordBorder: #ff91d7;
  --colors-badgeNewHomeBackground: #158453;
  --colors-badgeNewHomeText: #ffffff;
  --colors-badgePremiumBackground: #236184;
  --colors-badgePremiumText: #ffffff;
  --colors-badgeSavedBackground: #ffffff;
  --colors-badgeSavedText: #262630;
  --colors-badgeStatusCautionBackground: #fff0a0;
  --colors-badgeStatusCautionBorder: #ffcd1a;
  --colors-badgeStatusCautionText: #262630;
  --colors-badgeStatusFailureBackground: #ffd6d6;
  --colors-badgeStatusFailureBorder: #ff8080;
  --colors-badgeStatusFailureText: #262630;
  --colors-badgeStatusSuccessBackground: #cdf0cd;
  --colors-badgeStatusSuccessBorder: #8cd7aa;
  --colors-badgeStatusSuccessText: #262630;
  --colors-badgeStatusContrastCautionBackground: #ffaa00;
  --colors-badgeStatusContrastCautionText: #262630;
  --colors-badgeStatusContrastFailureBackground: #ff8080;
  --colors-badgeStatusContrastFailureText: #262630;
  --colors-badgeStatusContrastSuccessBackground: #8cd7aa;
  --colors-badgeStatusContrastSuccessText: #262630;
  --colors-badgeTenantActionBackground: #ffcd1a;
  --colors-badgeTenantActionText: #262630;
  --colors-brandPrimary: #236184;
  --colors-brandPrimaryT0: #2c8096;
  --colors-brandPrimaryT1: #6bbeca;
  --colors-brandPrimaryT2: #a5ebeb;
  --colors-brandPrimaryT3: #d7f6f5;
  --colors-brandPrimaryT4: #e6fafa;
  --colors-brandPrimaryT5: #f6f9fa;
  --colors-brandSecondary: #262630;
  --colors-brandSecondaryA0: #262630ad;
  --colors-brandSecondaryA1: #26263085;
  --colors-brandSecondaryA2: #26263066;
  --colors-brandSecondaryA3: #2626303d;
  --colors-brandSecondaryA4: #2626301f;
  --colors-brandSecondaryA5: #2626300a;
  --colors-brandTertiary: #1b4a64;
  --colors-buttonPrimaryBackgroundDefault: #236184;
  --colors-buttonPrimaryBackgroundHover: #1b4a64;
  --colors-buttonPrimaryBackgroundActive: #1b4a64;
  --colors-buttonPrimaryTextDefault: #ffffff;
  --colors-buttonPrimaryContrastBackgroundDefault: #ffffff;
  --colors-buttonPrimaryContrastBackgroundHover: #d7f6f5;
  --colors-buttonPrimaryContrastBackgroundActive: #d7f6f5;
  --colors-buttonPrimaryContrastTextDefault: #236184;
  --colors-buttonSecondaryBorderDefault: #236184;
  --colors-buttonSecondaryBackgroundHover: #e6fafa;
  --colors-buttonSecondaryBackgroundActive: #e6fafa;
  --colors-buttonSecondaryBackgroundSelected: #e6fafa;
  --colors-buttonSecondaryTextDefault: #236184;
  --colors-buttonSecondaryTextHover: #236184;
  --colors-buttonSecondaryTextActive: #236184;
  --colors-buttonSecondaryTextSelected: #236184;
  --colors-buttonSecondaryContrastBorderDefault: #ffffff;
  --colors-buttonSecondaryContrastBackgroundHover: #ffffff1f;
  --colors-buttonSecondaryContrastBackgroundActive: #ffffff1f;
  --colors-buttonSecondaryContrastBackgroundSelected: #ffffff1f;
  --colors-buttonSecondaryContrastTextDefault: #ffffff;
  --colors-buttonSecondaryContrastTextHover: #ffffff;
  --colors-buttonSecondaryContrastTextActive: #ffffff;
  --colors-buttonSecondaryContrastTextSelected: #ffffff;
  --colors-buttonTertiaryTextDefault: #236184;
  --colors-buttonTertiaryTextHover: #1b4a64;
  --colors-buttonTertiaryTextActive: #1b4a64;
  --colors-buttonTertiaryUnderlineDefault: #236184;
  --colors-buttonTertiaryUnderlineHover: #1b4a64;
  --colors-buttonTertiaryUnderlineActive: #1b4a64;
  --colors-buttonTertiaryContrastTextDefault: #ffffff;
  --colors-buttonTertiaryContrastTextHover: #ffffff;
  --colors-buttonTertiaryContrastTextActive: #ffffff;
  --colors-buttonTertiaryContrastUnderlineDefault: #6bbeca;
  --colors-buttonTertiaryContrastUnderlineHover: #2c8096;
  --colors-buttonTertiaryContrastUnderlineActive: #2c8096;
  --colors-buttonTertiaryIconButtonBackgroundHover: #2626300a;
  --colors-buttonTertiaryIconButtonBackgroundActive: #2626300a;
  --colors-buttonTertiaryIconButtonContrastBackgroundHover: #ffffff1f;
  --colors-buttonTertiaryIconButtonContrastBackgroundActive: #ffffff1f;
  --colors-buttonBackgroundDisabled: #e8e7e6;
  --colors-buttonBorderDisabled: #e8e7e6;
  --colors-buttonTextDisabled: #d1d0cf;
  --colors-buttonContrastBackgroundDisabled: #ffffff0a;
  --colors-buttonContrastBorderDisabled: #ffffff1f;
  --colors-buttonContrastTextDisabled: #ffffff1f;
  --colors-calendarAllDayEventBackground: #f6f9fa;
  --colors-calendarAllDayEventText: #262630;
  --colors-calendarAllDayEventContrastBackground: #ffffff1f;
  --colors-calendarAllDayEventContrastText: #ffffff;
  --colors-calendarAllDayEventUserBackground: #e6fafa;
  --colors-calendarAllDayEventUserContrastBackground: #ffffff1f;
  --colors-cardDefaultBorderDefault: #d1d0cf;
  --colors-cardDefaultBorderChecked: #262630;
  --colors-cardPremiumBackgroundDefault: #6bbeca;
  --colors-cardPremiumBorderDefault: #236184;
  --colors-cardPremiumThumbBorderActive: #6bbeca;
  --colors-cardFeaturedBackgroundDefault: #d7f6f5;
  --colors-cardFeaturedBorderDefault: #6bbeca;
  --colors-cardFeaturedAgentBackgroundDefault: #ffcd1a;
  --colors-cardFeaturedAgentBorderDefault: #ffcd1a;
  --colors-checkboxBackgroundDefault: #ffffff;
  --colors-checkboxBorderDefault: #262630ad;
  --colors-checkboxBorderHover: #26263085;
  --colors-checkboxBorderActive: #262630;
  --colors-checkboxBorderDisabled: #e8e7e6;
  --colors-checkboxBorderError: #cc0000;
  --colors-checkboxTextDefault: #262630;
  --colors-checkboxTextDisabled: #d1d0cf;
  --colors-checkboxHelpTextDefault: #595963;
  --colors-checkboxHelpTextDisabled: #d1d0cf;
  --colors-checkboxHelpTextError: #cc0000;
  --colors-checkboxCheckedBackgroundDefault: #262630;
  --colors-checkboxCheckedBackgroundHover: #262630ad;
  --colors-checkboxCheckedBackgroundDisabled: #e8e7e6;
  --colors-checkboxCheckedBackgroundError: #cc0000;
  --colors-checkboxCheckedTickDefault: #ffffff;
  --colors-checkboxIndeterminateBackgroundDefault: #262630;
  --colors-checkboxIndeterminateBackgroundHover: #262630ad;
  --colors-checkboxIndeterminateBackgroundDisabled: #e8e7e6;
  --colors-checkboxIndeterminateBackgroundError: #cc0000;
  --colors-checkboxIndeterminateIconDefault: #ffffff;
  --colors-datePickerDayBackgroundHover: #2626301f;
  --colors-datePickerDayBackgroundOn: #262630;
  --colors-datePickerDayBackgroundRange: #2626300a;
  --colors-datePickerDayBorderDefault: #262630;
  --colors-datePickerDayTextDefault: #262630;
  --colors-datePickerDayTextOutsideMonth: #262630ad;
  --colors-datePickerDayTextOn: #ffffff;
  --colors-datePickerDayTextDisabled: #d1d0cf;
  --colors-datePickerDayNameTextDefault: #595963;
  --colors-datePickerDayNameTextDisabled: #d1d0cf;
  --colors-dataVisBaseBackgroundDefault: #f7f6f5;
  --colors-dataVisBaseGridlinesDefault: #2626301f;
  --colors-dataVisBaseTextDefault: #262630;
  --colors-dataVisBaseNoData: #d1d0cf;
  --colors-dataVisBaseJourneyLine: #236184;
  --colors-dataVisSequential100: #f6f9fa;
  --colors-dataVisSequential200: #e6fafa;
  --colors-dataVisSequential300: #d7f6f5;
  --colors-dataVisSequential400: #a5ebeb;
  --colors-dataVisSequential500: #6bbeca;
  --colors-dataVisSequential600: #2c8096;
  --colors-dataVisSequential700: #236184;
  --colors-dataVisSequential800: #1b4a64;
  --colors-dataVisSequential900: #262630;
  --colors-dataVisQualitativeCategory1: #236184;
  --colors-dataVisQualitativeCategory2: #ffcd1a;
  --colors-dataVisQualitativeCategory3: #b13975;
  --colors-dataVisQualitativeCategory4: #d25596;
  --colors-dataVisQualitativeCategory51: #fac8f0;
  --colors-dataVisQualitativeCategory52: #4ba073;
  --colors-dataVisDivergingMinus15: #911e55;
  --colors-dataVisDivergingMinus10: #b13975;
  --colors-dataVisDivergingMinus5: #d25596;
  --colors-dataVisDivergingZero: #e6fafa;
  --colors-dataVisDivergingPlus5: #6bbeca;
  --colors-dataVisDivergingPlus10: #236184;
  --colors-dataVisDivergingPlus15: #1b4a64;
  --colors-dataVisDivergingStronglyDisagree: #f58c00;
  --colors-dataVisDivergingDisagree: #ffaa00;
  --colors-dataVisDivergingSlightlyDisagree: #ffcd1a;
  --colors-dataVisDivergingUndecided: #e6fafa;
  --colors-dataVisDivergingSlightlyAgree: #6bbeca;
  --colors-dataVisDivergingAgree: #236184;
  --colors-dataVisDivergingStronglyAgree: #1b4a64;
  --colors-feedbackFailureBackground: #ffd6d6;
  --colors-feedbackFailureGraphic: #cc0000;
  --colors-feedbackWarningBackground: #fff8c8;
  --colors-feedbackWarningGraphic: #df6648;
  --colors-feedbackNeutralBackground: #262630;
  --colors-feedbackNeutralGraphic: #ffffff;
  --colors-feedbackNeutralContrastBackground: #ffffff;
  --colors-feedbackNeutralContrastGraphic: #262630;
  --colors-feedbackSuccessBackground: #cdf0cd;
  --colors-feedbackSuccessGraphic: #158453;
  --colors-feedbackInformationBackground: #e6fafa;
  --colors-feedbackInformationGraphic: #2c8096;
  --colors-feedbackToastBackgroundDefault: #262630;
  --colors-feedbackToastTextDefault: #ffffff;
  --colors-feedbackToastContrastBackgroundDefault: #f6f9fa;
  --colors-feedbackToastContrastTextDefault: #262630;
  --colors-feedbackPageErrorBackground: #2626300a;
  --colors-feedbackNoResultsBackground: #2626300a;
  --colors-feedbackEmojiBackgroundDefault: #fff0a0;
  --colors-feedbackEmojiHeart: #cc0000;
  --colors-functionalSuccess: #158453;
  --colors-functionalSuccessContrast: #8cd7aa;
  --colors-functionalCaution: #f58c00;
  --colors-functionalFailure: #cc0000;
  --colors-functionalFailureContrast: #ff8080;
  --colors-functionalInformation: #6bbeca;
  --colors-functionalFocus: #fac8f0;
  --colors-functionalFocusAlt: #262630;
  --colors-functionalOnScrollShadow:
    linear-gradient(0deg, #2626301f 0%, #26263000 16%, #26263000 100%),
    linear-gradient(0deg, #26263014 0%, #26263000 100%);
  --colors-functionalPrepopulated: #e6fafa;
  --colors-functionalScrim: #0000003d;
  --colors-functionalGradientOverlayUp: linear-gradient(
    0deg,
    #000000cc 0%,
    #00000000 100%
  );
  --colors-functionalGradientOverlayDown: linear-gradient(
    0deg,
    #00000000 0%,
    #000000cc 100%
  );
  --colors-functionalFadeUp: linear-gradient(
    0deg,
    #ffffffcc 0%,
    #ffffff00 100%
  );
  --colors-functionalFadeDown: linear-gradient(
    0deg,
    #ffffff00 0%,
    #ffffffcc 100%
  );
  --colors-functionalSkeletonWave: linear-gradient(
    90deg,
    #ffffff00 0%,
    #ffffff3d 24%,
    #ffffff7a 50%,
    #ffffff3d 76%,
    #ffffff00 100%
  );
  --colors-graphicBackgroundDefault: #ffffff;
  --colors-graphicBackgroundAccentLight: #f6f9fa;
  --colors-graphicBackgroundAccentDark: #e5ecf0;
  --colors-graphicBackgroundContrast: #262630;
  --colors-graphicBackgroundSubtle100: #f7fdf5;
  --colors-graphicBackgroundSubtle200: #faf8fe;
  --colors-graphicBackgroundSubtle300: #fdf5fc;
  --colors-graphicBackgroundSubtle400: #fffce9;
  --colors-graphicBackgroundSubtle500: #fff7f4;
  --colors-graphicBackgroundSubtle600: #2626300a;
  --colors-graphicBackgroundSubtleBrand: #f6f9fa;
  --colors-graphicBackgroundSubtleContrast: #ffffff0a;
  --colors-graphicDividerDefault: #2626303d;
  --colors-graphicDividerSubtle: #2626301f;
  --colors-graphicDividerDefaultContrast: #ffffff85;
  --colors-graphicDividerSubtleContrast: #ffffff3d;
  --colors-graphicIconsDefault: #262630;
  --colors-graphicIconsContrast: #ffffff;
  --colors-graphicBuyingDefault: #fac8f0;
  --colors-graphicBuyingLight: #fae1f5;
  --colors-graphicBuyingDark: #ff91d7;
  --colors-graphicSellingDefault: #fff0a0;
  --colors-graphicSellingLight: #fff8c8;
  --colors-graphicSellingDark: #ffcd1a;
  --colors-graphicRentingDefault: #d7f6f5;
  --colors-graphicRentingLight: #e6fafa;
  --colors-graphicRentingDark: #a5ebeb;
  --colors-graphicImprovingDefault: #ffd2b9;
  --colors-graphicImprovingLight: #ffe6dc;
  --colors-graphicImprovingDark: #fa967d;
  --colors-graphicPriceDefault: #cdf0cd;
  --colors-graphicPriceLight: #ebfae6;
  --colors-graphicPriceDark: #8cd7aa;
  --colors-graphicErrorPageDay: #fae1f5;
  --colors-graphicErrorPageNight: #262630;
  --colors-graphicQuoteBlock: #d1d0cf;
  --colors-graphicQuotePull: #236184;
  --colors-graphicRatingStars: #ffaa00;
  --colors-graphicAgentTopRated: #ffcd1a;
  --colors-graphicAgentQuickest: #a5ebeb;
  --colors-graphicAgentClosest: #ceb7f9;
  --colors-graphicAgentHighestPrice: #8cd7aa;
  --colors-graphicAreaGuideFactBorderDefault: #cdf0cd;
  --colors-graphicAreaGuideFactIconBackgroundDefault: #cdf0cd;
  --colors-graphicAreaGuideHeroBackgroundDefault: #cdf0cd;
  --colors-graphicAuthorPillBackgroundDefault: #ffffff66;
  --colors-graphicBanner100BackgroundDefault: #ebfae6;
  --colors-graphicBanner200BackgroundDefault: #e6fafa;
  --colors-graphicBanner300BackgroundDefault: #fae1f5;
  --colors-graphicBanner400BackgroundDefault: #fff8c8;
  --colors-graphicBanner500BackgroundDefault: #ffe6dc;
  --colors-graphicBannerBrandBackgroundDefault: #e6fafa;
  --colors-graphicBannerContrastBackgroundDefault: #ffffff1f;
  --colors-graphicPictogram100BackgroundDefault: #ebfae6;
  --colors-graphicPictogram200BackgroundDefault: #e6fafa;
  --colors-graphicPictogram300BackgroundDefault: #fae1f5;
  --colors-graphicPictogram400BackgroundDefault: #fff8c8;
  --colors-graphicPictogram500BackgroundDefault: #ffe6dc;
  --colors-graphicPictogram600BackgroundDefault: #f7f6f5;
  --colors-graphicPictogramBrandBackgroundDefault: #e6fafa;
  --colors-graphicPictogramContrastBackgroundDefault: #ffffff1f;
  --colors-graphicResearchArticleHeroBackgroundDefault: #d7f6f5;
  --colors-hybridButtonBackgroundHover: #f7f6f5;
  --colors-hybridButtonBackgroundActive: #e8e7e6;
  --colors-hybridButtonTextDefault: #595963;
  --colors-hybridButtonTextDisabled: #d1d0cf;
  --colors-inputBackgroundDefault: #ffffff;
  --colors-inputBorderDefault: #262630ad;
  --colors-inputBorderHover: #26263085;
  --colors-inputBorderActive: #262630;
  --colors-inputBorderError: #cc0000;
  --colors-inputBorderErrorContrast: #ff8080;
  --colors-inputBorderDisabled: #e8e7e6;
  --colors-inputTextDefault: #262630;
  --colors-inputTextPlaceholder: #76767c;
  --colors-inputTextDisabled: #d1d0cf;
  --colors-inputLabelTextDefault: #262630;
  --colors-inputLabelTextDisabled: #d1d0cf;
  --colors-inputHelpTextDefault: #595963;
  --colors-inputHelpTextError: #cc0000;
  --colors-inputHelpTextDisabled: #d1d0cf;
  --colors-inputHelpTextErrorContrast: #ff8080;
  --colors-inputContrastBackgroundDisabled: #ffffff0a;
  --colors-inputContrastBorderError: #ff8080;
  --colors-inputContrastBorderDisabled: #ffffff1f;
  --colors-inputContrastTextDisabled: #ffffff1f;
  --colors-inputContrastLabelText: #ffffff;
  --colors-inputContrastLabelTextDisabled: #ffffff1f;
  --colors-inputContrastHelpText: #ffffff;
  --colors-inputContrastHelpTextError: #ff8080;
  --colors-inputContrastHelpTextDisabled: #ffffff1f;
  --colors-linkTextDefault: #236184;
  --colors-linkTextHover: #1b4a64;
  --colors-linkTextActive: #1b4a64;
  --colors-linkTextVisited: #595963;
  --colors-linkTextDisabled: #d1d0cf;
  --colors-linkUnderlineDefault: #236184;
  --colors-linkUnderlineHover: #1b4a64;
  --colors-linkUnderlineActive: #1b4a64;
  --colors-linkUnderlineVisited: #236184;
  --colors-linkContrastTextDefault: #6bbeca;
  --colors-linkContrastTextVisited: #d1d0cf;
  --colors-linkContrastTextDisabled: #ffffff3d;
  --colors-linkContrastUnderlineDefault: #6bbeca;
  --colors-linkContrastUnderlineHover: #2c8096;
  --colors-linkContrastUnderlineActive: #2c8096;
  --colors-linkContrastUnderlineVisited: #6bbeca;
  --colors-listboxListboxItemBackgroundHover: #2626300a;
  --colors-listboxListboxItemBorderHover: #2626300a;
  --colors-navigationLinkBackgroundDefault: #ffffff;
  --colors-navigationLinkBackgroundHover: #f7f6f5;
  --colors-navigationLinkBackgroundActive: #e8e7e6;
  --colors-navigationLinkBackgroundDisabled: #ffffff;
  --colors-navigationLinkTextDefault: #595963;
  --colors-navigationLinkTextDisabled: #d1d0cf;
  --colors-pinDefaultBackgroundDefault: #ffffff;
  --colors-pinDefaultBackgroundActive: #262630;
  --colors-pinDefaultBorderDefault: #262630;
  --colors-pinDefaultTextDefault: #262630;
  --colors-pinDefaultTextActive: #ffffff;
  --colors-pinJustAddedBackgroundDefault: #fff0a0;
  --colors-pinJustAddedBackgroundActive: #ffcd1a;
  --colors-pinJustAddedBorderDefault: #ffcd1a;
  --colors-pinJustAddedTextDefault: #262630;
  --colors-pinPremiumBackgroundDefault: #236184;
  --colors-pinPremiumBackgroundActive: #1b4a64;
  --colors-pinPremiumTextDefault: #ffffff;
  --colors-pinFeaturedBackgroundDefault: #d7f6f5;
  --colors-pinFeaturedBackgroundActive: #2c8096;
  --colors-pinFeaturedBorderDefault: #6bbeca;
  --colors-pinFeaturedTextDefault: #262630;
  --colors-pinFeaturedTextActive: #ffffff;
  --colors-pinSoldBackgroundDefault: #ffd2b9;
  --colors-pinSoldBackgroundActive: #ed785a;
  --colors-pinSoldBorderDefault: #ed785a;
  --colors-pinSoldTextDefault: #262630;
  --colors-pinSoldTextActive: #262630;
  --colors-pinHomeBackgroundDefault: #262630;
  --colors-pinHomeBackgroundActive: #ffffff;
  --colors-pinHomeBorderActive: #262630;
  --colors-progressBackgroundDefault: #d7f6f5;
  --colors-progressBackgroundCaution: #fff0a0;
  --colors-progressBackgroundWarning: #ffd6d6;
  --colors-progressIndicatorBackgroundDefault: #6bbeca;
  --colors-progressIndicatorBackgroundCaution: #ffaa00;
  --colors-progressIndicatorBackgroundWarning: #cc0000;
  --colors-radioGroupRadioBackgroundDefault: #ffffff;
  --colors-radioGroupRadioBorderDefault: #262630ad;
  --colors-radioGroupRadioBorderHover: #26263085;
  --colors-radioGroupRadioBorderActive: #262630;
  --colors-radioGroupRadioBorderError: #cc0000;
  --colors-radioGroupRadioBorderDisabled: #e8e7e6;
  --colors-radioGroupSelectedBackgroundDefault: #262630;
  --colors-radioGroupSelectedBackgroundDisabled: #e8e7e6;
  --colors-radioGroupSelectedBackgroundError: #cc0000;
  --colors-radioGroupTextDefault: #262630;
  --colors-radioGroupTextDisabled: #d1d0cf;
  --colors-radioGroupHelpTextDefault: #595963;
  --colors-radioGroupHelpTextDisabled: #d1d0cf;
  --colors-radioGroupHelpTextError: #cc0000;
  --colors-sliderBackground: #2626301f;
  --colors-sliderFill: #262630;
  --colors-sliderThumbBackgroundDefault: #ffffff;
  --colors-sliderThumbBackgroundHover: #262630;
  --colors-sliderThumbBorderDefault: #262630;
  --colors-switchBackgroundDefault: #26263066;
  --colors-switchBackgroundDisabled: #e8e7e6;
  --colors-switchBackgroundOn: #262630;
  --colors-switchBackgroundError: #cc0000;
  --colors-switchBorderDefault: #262630ad;
  --colors-switchBorderHover: #26263085;
  --colors-switchBorderActive: #262630;
  --colors-switchBorderOn: #262630;
  --colors-switchBorderDisabled: #e8e7e6;
  --colors-switchBorderError: #cc0000;
  --colors-switchTextDefault: #262630;
  --colors-switchTextDisabled: #d1d0cf;
  --colors-switchHelpTextDefault: #595963;
  --colors-switchHelpTextDisabled: #d1d0cf;
  --colors-switchHelpTextError: #cc0000;
  --colors-switchThumbBackgroundDefault: #ffffff;
  --colors-tabTextDefault: #262630;
  --colors-tabBorderDefault: #2626303d;
  --colors-tabBorderHover: #1b4a64;
  --colors-tabBorderActive: #236184;
  --colors-tabBackgroundHover: #2626300a;
  --colors-tableBorderDefault: #2626303d;
  --colors-tableTheadBackgroundDefault: #2626301f;
  --colors-tableTheadBorderDefault: #2626303d;
  --colors-tableTheadTextDefault: #262630;
  --colors-tableTbodyBackgroundHighlight: #2626300a;
  --colors-tableTbodyBackgroundChecked: #2626300a;
  --colors-tableTbodyBorderDefault: #2626303d;
  --colors-tableTbodyBorderHover: #2626303d;
  --colors-tableTbodyBorderLeftChecked: #262630;
  --colors-tableContrastBorderDefault: #ffffff66;
  --colors-tableContrastTheadBackgroundDefault: #ffffff3d;
  --colors-tableContrastTheadBorderDefault: #ffffff66;
  --colors-tableContrastTheadTextDefault: #ffffff;
  --colors-tableContrastTbodyBackgroundHighlight: #ffffff1f;
  --colors-tableContrastTbodyBackgroundChecked: #ffffff1f;
  --colors-tableContrastTbodyBorderDefault: #ffffff66;
  --colors-tableContrastTbodyBorderHover: #ffffff66;
  --colors-tableContrastTbodyBorderLeftChecked: #ffffff;
  --colors-tableHeaderBackgroundDefault: #262630;
  --colors-tableHeaderBackgroundContrast: #f7f6f5;
  --colors-tableCellBackgroundDefault: #ffffff;
  --colors-tableCellBackgroundHighlight: #f6f9fa;
  --colors-tableCellBackgroundActive: #f6f9fa;
  --colors-tableCellBackgroundDisabled: #e8e7e6;
  --colors-tagBackgroundDefault: #f6f9fa;
  --colors-tagBackgroundHover: #e6fafa;
  --colors-tagBackgroundActive: #d7f6f5;
  --colors-tagBackgroundDisabled: #f7f6f5;
  --colors-tagBorderDefault: #d7f6f5;
  --colors-tagBorderDisabled: #e8e7e6;
  --colors-tagTextDefault: #262630;
  --colors-tagTextDisabled: #d1d0cf;
  --colors-textTitle: #262630;
  --colors-textBody: #262630;
  --colors-textBody2: #595963;
  --colors-textContrast: #ffffff;
  --colors-textBody2Contrast: #ffffffad;
  --colors-textDisabled: #d1d0cf;
  --colors-textDisabledContrast: #ffffff1f;
  --colors-textHighlightDefaultBackground: #d7f6f5;
  --colors-textHighlightDefaultText: #262630;
  --colors-toggleBackgroundHover: #2626301f;
  --colors-toggleBackgroundOn: #262630;
  --colors-toggleBorderDefault: #262630;
  --colors-toggleBorderDisabled: #e8e7e6;
  --colors-toggleTextDefault: #262630;
  --colors-toggleTextOn: #ffffff;
  --colors-toggleTextDisabled: #d1d0cf;
  --colors-toggleContrastBackgroundHover: #ffffff1f;
  --colors-toggleContrastBackgroundOn: #ffffff;
  --colors-toggleContrastBorderDefault: #ffffff;
  --colors-toggleContrastBorderDisabled: #ffffff3d;
  --colors-toggleContrastTextDefault: #ffffff;
  --colors-toggleContrastTextOn: #262630;
  --colors-toggleContrastTextDisabled: #ffffff3d;
  --colors-toggleGroupBorderDefault: #262630ad;
  --colors-toggleGroupContrastBorderDefault: #ffffffad;
  --colors-tooltipBackgroundDefault: #262630;
  --colors-tooltipBackgroundContrast: #ffffff;
  --colors-tooltipTextDefault: #ffffff;
  --colors-tooltipTextContrast: #262630;
  --fonts-body: Lato, Helvetica, Arial, sans-serif;
  --fonts-display: Lato, Helvetica, Arial, sans-serif;

  --caretdown: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 4"><path fill="%23262630" fill-rule="evenodd" d="M0 0h8L4 4z" clip-rule="evenodd"/></svg>');
  --calendar: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path fill="%23262630" fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v11a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5zM1.5 3a.5.5 0 0 0-.5.5V11h14V3.5a.5.5 0 0 0-.5-.5zM15 12H1v2.5a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5z" clip-rule="evenodd"/><path fill="%23262630" fill-rule="evenodd" d="M5 8H3V7h2zm6-1h2v1h-2zM9 8H7V7h2zM4 5V0h1v5zm7 0V0h1v5z" clip-rule="evenodd"/></svg>');
  --plus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path fill="%23262630" fill-rule="evenodd" d="M8.5 8.5V16h-1V8.5zm-1-1V0h1v7.5zm8.5 1H0v-1h16z" clip-rule="evenodd"/></svg>');
  --settings: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="%23262630" fill-rule="evenodd" d="M9 3.5A1.5 1.5 0 0 1 10.5 2h3A1.5 1.5 0 0 1 15 3.5v.05a.5.5 0 0 0 .854.354l.035-.036a1.5 1.5 0 0 1 2.121 0l2.122 2.122a1.5 1.5 0 0 1 0 2.12l-.036.036A.5.5 0 0 0 20.45 9h.05a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-.05a.5.5 0 0 0-.354.854l.036.035a1.5 1.5 0 0 1 0 2.121l-2.122 2.122a1.5 1.5 0 0 1-2.12 0l-.036-.036a.5.5 0 0 0-.854.354v.05a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 20.5v-.05a.5.5 0 0 0-.854-.354l-.035.036a1.5 1.5 0 0 1-2.121 0L3.868 18.01a1.5 1.5 0 0 1 0-2.12l.036-.036A.5.5 0 0 0 3.55 15H3.5A1.5 1.5 0 0 1 2 13.5v-3A1.5 1.5 0 0 1 3.5 9h.05a.5.5 0 0 0 .354-.854l-.036-.035a1.5 1.5 0 0 1 0-2.121L5.99 3.868a1.5 1.5 0 0 1 2.12 0l.036.036A.5.5 0 0 0 9 3.55zm1.5-.5a.5.5 0 0 0-.5.5v.05c0 1.337-1.616 2.006-2.56 1.06l-.036-.035a.5.5 0 0 0-.707 0L4.575 6.697a.5.5 0 0 0 0 .707l.036.035C5.556 8.384 4.887 10 3.55 10H3.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h.05c1.337 0 2.006 1.616 1.06 2.56l-.035.036a.5.5 0 0 0 0 .707l2.122 2.122a.5.5 0 0 0 .707 0l.035-.036c.945-.945 2.561-.276 2.561 1.06v.051a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-.05c0-1.337 1.616-2.006 2.56-1.06l.036.035a.5.5 0 0 0 .707 0l2.122-2.122a.5.5 0 0 0 0-.707l-.036-.035c-.945-.945-.276-2.561 1.06-2.561h.051a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-.05c-1.337 0-2.006-1.616-1.06-2.56l.035-.036a.5.5 0 0 0 0-.707l-2.122-2.122a.5.5 0 0 0-.707 0l-.035.036C15.616 5.556 14 4.887 14 3.55V3.5a.5.5 0 0 0-.5-.5zM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6m-4 3a4 4 0 1 1 8 0 4 4 0 0 1-8 0" clip-rule="evenodd"/></svg>');
}
