.upload-open-button
{
    width: 120px;
    margin-bottom: 10px !important;
}
.upload-file-preview
{
    width: 50px;
    float: left;
    margin-right: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.btn
{
    border-radius: 0px;
    cursor: default;
    font-size: 11px;
    font-weight: normal;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}
.btn.droppable.dropped
{
    height: 32px;
    border-bottom: 0 none;
}
.btn.half-width
{
    width: 16px;
    min-width: 16px;
}
.btn span
{
    padding-left: 1px;
}
.btn .i-17
{
    opacity: 0.55;
    height: 17px;
    width: 17px;
    display: inline-block;
    position: relative;
    display: inline-block;
    position: relative;
    margin-top: -3px;
    vertical-align: middle;
}
.btn .drop
{
    opacity: 0.55;
    margin-top: -3px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background: url(/content/media/images/gui/icons/drop-dark.png) no-repeat scroll 0 1px transparent;
    font-size: 0;
    height: 6px;
    margin-left: 3px;
    width: 7px;
}
.btn .icon.i-cog
{
    background: url(/content/media/images/gui/icons/toolbar.png) no-repeat scroll 0 -21px transparent;
}

.btn.disabled, button.disabled
{
    cursor: default;
    opacity: 0.3 !important;
}
.btn.disabled:hover , button.disabled:hover
{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1) !important;
}

.btn:hover
{
    /*color: #333333;*/ /*border: 1px solid #c6c6c6;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn:hover div
{
    opacity: 0.9;
}
.btn.grey
{
    background-color: #f6f6f6;
}
.btn.grey:hover
{
    background-color: #fafafa;
}

    .btn.contact {
        background-color: #c00009;
        color: #fff;
    }
    .btn.contact:hover {
        background-color: #f3414a;
        border: 1px solid #c00009;
    }

.btn-round-corners {
    border-radius: 2px 2px;
}



/* COLORS */
.btn.btn-yellow {
    background-color: #fff;
    background-image: linear-gradient(top,#ffffff,#F4F65E);
    background-image: -moz-linear-gradient(top,#ffffff,#F4F65E);
    background-image: -o-linear-gradient(top,#ffffff,#F4F65E);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#F4F65E));
    background-image: -webkit-linear-gradient(top,#ffffff,#F4F65E);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#F4F65E);
    background-image: -ms-linear-gradient(top,#ffffff 0,#F4F65E 100%);
    border: 1px solid #E0DA00;
}

.btn.btn-yellow:hover {
    background-color: #fff;
    background-image: linear-gradient(top,#fbf8c4,#f9f2a7);
    background-image: -moz-linear-gradient(top,#fbf8c4,#f9f2a7);
    background-image: -o-linear-gradient(top,#fbf8c4,#f9f2a7);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fbf8c4),to(#f9f2a7));
    background-image: -webkit-linear-gradient(top,#fbf8c4,#f9f2a7);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fbf8c4,EndColorStr=#f9f2a7);
    background-image: -ms-linear-gradient(top,#fbf8c4 0,#f9f2a7 100%);
}

.btn.btn-dark-grey {
    background: none repeat scroll 0 0 rgba(32, 32, 32, 0.7);
}

.btn.btn-dark-grey:hover {
    background: none repeat scroll 0 0 rgba(64, 64, 64, 0.7);}

.bootstrap .btn-green, .btn-green {
    color: #fff;
    background-color: #8cc63f;
    border: 1px solid #80b33a;
}

.bootstrap .btn-green:hover, .btn-green:hover {
    color:#fff;
    background-color: #78aa36;
}

.btn.pressed
{
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15) inset, 0 0px;
}

/* Open Banking button */
.btn.open-banking {
    background-color: #1f6e8c;
    color: #fff;
    border: 1px solid #18586f;
    float: left;
    margin-right: 15px;
}

.btn.open-banking:hover {
    background-color: #1a5d77;
    color: #fff;
}



/* Special */
.btn.special.add
{
    min-width: 0px; /*background: url(/content/media/images/gui/ribbon/add.png) repeat-x;*/
    width: 41px;
    position: relative;
}
.btn.special.add div
{
    position: absolute;
    top: 4px;
    left: 4px;
    height: 17px;
    width: 34px;
    background: url(/content/media/images/gui/panel/icons/new3.png) no-repeat;
}
.btn.special.add div.contact-icon
{
    background-position: 0px -17px;
}

.btn.special2.add
{
    min-width: 0px; /*background: url(/content/media/images/gui/ribbon/add.png) repeat-x;*/
    width: 41px;
    position: relative;
}
    .btn.special2.add div {
        position: absolute;
        top: 4px;
        left: 4px;
        height: 17px;
        width: 34px;
        background: url(/content/media/images/gui/panel/icons/new3.png) no-repeat;
    }
.btn.special2.add div.contact-icon
{
    background-position: 0px -17px;
}

/* Tab */
.btn.tab
{
    /*text-shadow: none;*/
}
.btn.tab.selected
{
    background-image: linear-gradient(top,#c8c8c8,#e6e6e6);
    background-image: -moz-linear-gradient(top,#c8c8c8,#e6e6e6);
    background-image: -o-linear-gradient(top,#c8c8c8,#e6e6e6);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#c8c8c8),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#c8c8c8,#e6e6e6);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#c8c8c8,EndColorStr=#e6e6e6);
    background-image: -ms-linear-gradient(top,#c8c8c8 0,#e6e6e6 100%);
    background-image: -moz-linear-gradient(center top,#c8c8c8 0,#e6e6e6 100%);
    border-color: #888 #aaaaaa #ccc;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25) inset,0 1px 0 white
}
.btn.tab:hover
{
    color: #444;
}
.btn.tab.selected:hover
{
    background-image: linear-gradient(top,#c8c8c8,#e6e6e6);
    background-image: -moz-linear-gradient(top,#c8c8c8,#e6e6e6);
    background-image: -o-linear-gradient(top,#c8c8c8,#e6e6e6);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#c8c8c8),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#c8c8c8,#e6e6e6);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#c8c8c8,EndColorStr=#e6e6e6);
    background-image: -ms-linear-gradient(top,#c8c8c8 0,#e6e6e6 100%);
    background-image: -moz-linear-gradient(center top,#c8c8c8 0,#e6e6e6 100%);
    border-color: #888 #aaaaaa #ccc;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25) inset,0 1px 0 white
}


.ui-accordion .ui-accordion-header
{
    border-radius: 2px 2px 0px 0px;
    cursor: default;
    font-size: 11px;
    font-weight: normal;
    outline: 0 none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;
    position: relative;
    white-space: nowrap;
    cursor: default;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #fff;
    background-image: linear-gradient(top,#dddddd,#d6d6d6);
    background-image: -moz-linear-gradient(top,#dddddd,#d6d6d6);
    background-image: -o-linear-gradient(top,#dddddd,#d6d6d6);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dddddd),to(#d6d6d6));
    background-image: -webkit-linear-gradient(top,#dddddd,#d6d6d6);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#dddddd,EndColorStr=#d6d6d6);
    background-image: -ms-linear-gradient(top,#dddddd 0,#d6d6d6 100%);
}
.ui-accordion .ui-accordion-header.ui-state-active
{
    background-image: linear-gradient(top,#eeeeee,#e6e6e6);
    background-image: -moz-linear-gradient(top,#eeeeee,#e6e6e6);
    background-image: -o-linear-gradient(top,#eeeeee,#e6e6e6);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#eeeeee),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#eeeeee,#e6e6e6);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#eeeeee,EndColorStr=#e6e6e6);
    background-image: -ms-linear-gradient(top,#eeeeee 0,#e6e6e6 100%);
    cursor: default;
}




.edit-profile
{
    float: left;
    width: 16px;
    height: 16px;
    background: url("/content/media/images/gui/icons/edit.png") no-repeat;
    cursor:pointer;
    margin-top: 6px;
    margin-left: 10px;
}

/*.viewing-button
{
    width: 17px;
    height: 17px;
    background: url("/Content/Media/Images/Gui/Icons/grey_light/calendar_17x17.png") no-repeat;
    cursor:pointer;
    margin-top:5px;

}*/

/*.phonenote-button
{
    width: 17px;
    height: 17px;
    background: url("/content/media/images/gui/Common/phone.png") no-repeat;
    cursor:pointer;
    margin-top:5px;
    background-position:0px 0px;

}*/

/*.filenote-button
 {
    background: url("/content/media/images/gui/icons/white/plus_12x12.png") no-repeat scroll center center #C9C9C9;
    border: 1px solid;
    height: 12px;
    margin-top: 5px;
    padding: 2px;
    width: 12px;
}*/

#consentpreferences-tab .action-button {
    display: inline-block;
    height: 25px;
    top: 1px;
    position: relative;
    background-image: url(/Content/Styles/Matchlists/images/btnIconSpriteStdMatchScreenSet.png);
    background-size: 225px;
    background-repeat: no-repeat;
}

#compliance-tab #manual-checks .ofsi-add-check {
    width: 95px;
    height: 28px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    margin-top: 16px;
}

#compliance-tab #manual-checks .btn {
    min-width: 45px;
}

#compliance-tab #manual-checks .action-button {
    background-image: url(/Content/Styles/Matchlists/images/btnIconSpriteStdMatchScreenSet.png);
    background-repeat: no-repeat;
    background-size: 225px;
    display: inline-block;
    height: 25px;
    position: relative;
    top: 1px;
    width: 25px;
}

label.label-button, #matchListTabs .action-button, #property-match-list .action-button {
    display: inline-block !important;
    height: 25px;
    top: 1px;
    position: relative;
    background-image: url(/Content/Styles/Matchlists/images/btnIconSpriteStdMatchScreenSet.png);
    background-size: 225px;
    background-repeat: no-repeat;
    width: 25px;
    cursor: pointer;
}

label.label-button {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

label.label-button.accept-button {
    background-position: -200px 0px;
}

input:checked + label.label-button.accept-button {
    background-position: -125px 0px;
}


label.label-button.reject-button {
    background-position: -150px 0px;
}

input:checked + label.label-button.reject-button {
    background-position: -175px 0px;
}

label.label-button.unknown-button {
    background-size: 28px;
    background-image: url(/Content/Media/Images/Gui/Icons/consent-unknown-disabled.png);
}

input:checked + label.label-button.unknown-button {
    background-size: 28px;
    background-image: url(/Content/Media/Images/Gui/Icons/consent-unknown.png);
}


#matchListTabs .action-button, #consentpreferences-tab .action-button {
    width: 25px;
}

.action-button.reject-button, .action-button.accept-button.off {
    background-position: -150px 0px;
}

.action-button.unreject-button, .action-button.reject-button.on {
    background-position: -175px 0px;
}

.action-button.unaccept-button, .action-button.accept-button.off {
    background-position: -200px 0px;
}

.action-button.accept-button, .action-button.accept-button.on {
    background-position: -125px 0px;
}

.action-button.phonenote-button {    
  background-position: 0px 0px;    
}

.action-button.filenote-button {    
  background-position: -25px 0px;    
}

.action-button.viewing-button {    
  background-position: -50px 0px;    
}

.action-button.email-button {    
  background-position: -75px 0px;    
}

.action-button.sms-button {    
  background-position: -100px 0px;    
}

.qac-consent-button {
    width: 43px;
    min-width: 43px !important;
}

.qac-action-button {
    display: inline-block !important;
    height: 25px;
    top: 1px;
    position: relative;
    background-image: url(/Content/Styles/Matchlists/images/btnIconSpriteStdMatchScreenSet.png);
    background-size: 225px;
    background-repeat: no-repeat;
    width: 25px;
    cursor: pointer;
}

.qac-action-button {
    width: 25px;
}

.qac-action-button.reject-button, .qac-action-button.accept-button.off {
    background-position: -150px 0px;
}

.qac-action-button.unreject-button, .qac-action-button.reject-button.on {
    background-position: -175px 0px;
}

.qac-action-button.unaccept-button, .qac-action-button.accept-button.off {
    background-position: -200px 0px;
}

.qac-action-button.accept-button, .qac-action-button.accept-button.on {
    background-position: -125px 0px;
}

.tools-button {
    width: 120px; 
    background-image: -moz-linear-gradient(center top , #B68082, #A46E70);
    color: #FFFFFF;
    background-color: #B68082;
    text-shadow: 0 1px 0 #7D0F0F;
}

.btn.consent-button {
    min-width: 20px !important;
}

.sharing-button {
    cursor: pointer;
}

.sharing-button.disabled {
    cursor: default;
    opacity: 0.3 !important;
}

.sharing-button > div.icon {
    display: inline-block;
    height: 27px;
    width: 27px;
    vertical-align: top;
}

.sharing-button.workorder-sharing-allowed > div.icon {
    background: url("/content/media/images/gui/propertyfile/propertyfile-folder-white-open-bordered.svg") no-repeat;
}

.sharing-button.workorder-sharing-allowed.btn {
    color: white;
    background-color: #432457;
}

.sharing-button.workorder-sharing-allowed.btn > div.icon {
    margin-left: -5px;
}

.sharing-button.workorder-sharing-notallowed > div.icon {
    background: url("/content/media/images/gui/propertyfile/propertyfile-folder-purple-closed-bordered.svg") no-repeat;
}

.sharing-button.workorder-sharing-notallowed.btn {
    background-color: white;
}

.sharing-button.workorder-sharing-notallowed.btn > div.icon {
    background: url("/content/media/images/gui/propertyfile/propertyfile-folder-purple-closed.svg") 5px no-repeat;
    background-size: 14px !important;
}

.sharing-button.workorder-sharing-none > div.icon {
    background: url("/content/media/images/gui/propertyfile/propertyfile-folder-grey-closed-bordered.svg") no-repeat;
    opacity: 0.65;
}

.sharing-button.workorder-sharing-none.btn {
    background-color: #f6f6f6;
}

.sharing-button.workorder-sharing-none.btn > div.icon {
    background: url("/content/media/images/gui/propertyfile/propertyfile-folder-grey-closed.svg") 5px no-repeat;
    background-size: 14px !important;
    opacity: 0.65;
}

.btn#publish-listing-launcher > .icon {
    height: 17px;
    position: relative;
    margin-top: -3px;
    background-image: url("/Content/Media/Images/Gui/Icons/Alto-Cloud.svg");
    background-repeat: no-repeat;
    opacity: 1;
    padding-left: 24px;
}

.btn#publish-listing-launcher > a {
    text-decoration: none;
    color: white;
    cursor:pointer;
}

.btn#void-management-setup > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn#lettings-progressions-button > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}