.chatbot {
  position: absolute;
  top: 35px;
  right: 0;
  width: 440px;
  z-index: 100;
}
.chatbot .chatbtn {
  line-height: 27px;
  text-align: left;
  font-size: 12px;
  text-indent: 3px;
  height: 30px;
  background-color: #f57d22;
  border-radius: 1px 1px 0px 0px;
  padding: 0 8px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.chatbot .chat-panel {
  width: 440px;
  border: 1px solid darkgrey;
}
.chatbot .chat-panel .panel-heading {
  height: 30px;
  cursor: move;
  background-color: #606060;
}
.chatbot .chat-panel .panel-heading .title-logo {
  max-width: 100%;
  height: auto;
  max-height: 30px;
  border: 0;
}
.chatbot .chat-panel .panel-heading .close {
  cursor: pointer;
  line-height: 30px;
  font-size: 34px;
  margin-left: 8px;
  color: white;
  font-weight: bold;
}
.chatbot .chat-panel .panel-body {
  padding: 5px;
  overflow-y: scroll;
  height: 350px;
}
.chatbot .chat-panel .panel-body .chat {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chatbot .chat-panel .panel-body .chat .user-question {
  width: 270px;
}
.chatbot .chat-panel .panel-body .chat .user-logo {
  max-width: 100%;
  height: auto;
  max-height: 70px;
  border: 0;
}
.chatbot .chat-panel .panel-body .chat .bot-logo {
  max-width: 100%;
  height: auto;
  max-height: 75px;
  border: 0;
}
.chatbot .chat-panel .panel-body .chat .doclink {
  color: #f57d22;
  text-decoration: none;
}
.chatbot .chat-panel .panel-body .chat .doclink:active,
.chatbot .chat-panel .panel-body .chat .doclink :visited {
  color: #f57d22;
}
.chatbot .chat-panel .panel-body .chat .doclink:hover {
  text-decoration: underline;
}
.chatbot .chat-panel .panel-body .chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b3a9a9;
}
.chatbot .chat-panel .panel-input {
  height: 60px;
}
.chatbot .chat-panel .panel-input .question {
  width: 362px;
  float: left;
  font-size: 15px;
  padding: 5px;
  height: 40px;
  margin-left: 5px;
}
.chatbot .chat-panel .panel-input .send {
  width: 52px;
  height: 52px;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: #606060;
}
.chatbot .chat-panel .panel-input .send:hover {
  color: white;
}
.chatbot .chat-panel .panel-footer {
  height: 30px;
  background-color: #606060;
}
