div.tds-communication-log .content-padded {
  padding: 0px;
}
div.tds-communication-log .tx-container {
  background-color: #e6e6e6;
  width: 100%;
  border: 1px solid #d9d9d9;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
div.tds-communication-log .tx-container div.col1,
div.tds-communication-log .tx-container div.col-1 {
  float: left;
  width: 105px;
  text-align: center !important;
}
div.tds-communication-log .tx-container div.col2,
div.tds-communication-log .tx-container div.col-2 {
  float: left;
  width: 700px;
}
div.tds-communication-log .tx-container div.col3,
div.tds-communication-log .tx-container div.col-3 {
  float: left;
  width: 100px;
}
div.tds-communication-log .tx-container div.txhead .hdrrow {
  height: 30px;
  border: 1px solid #cdcbcc;
  background-color: gray;
}
div.tds-communication-log .tx-container div.txhead .hdrrow .hdrcol {
  color: white;
  text-align: left;
  font-weight: normal;
  padding: 5px;
}
div.tds-communication-log .tx-container .txbody {
  overflow-y: auto;
  position: relative;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 500px;
}
div.tds-communication-log .tx-container .txbody .green {
  color: limegreen;
}
div.tds-communication-log .tx-container .txbody .amber {
  color: orange;
}
div.tds-communication-log .tx-container .txbody .grey {
  color: #cccccc;
}
div.tds-communication-log .tx-container .txbody .proprow {
  min-height: 40px;
  line-height: 30px;
  border: 1px solid #cdcbcc;
  background-color: white;
}
div.tds-communication-log .tx-container .txbody .proprow .detcol {
  text-align: left;
  font-weight: normal;
  padding: 5px;
}
div.tds-communication-log .tx-container .txbody .proprow .detcol .btn {
  min-width: 35px;
}
div.tds-communication-log .tx-container .txbody .proprow .detcol .fa {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #e4e4e4;
  padding: 5px 11px;
  background-color: #f7f7f7;
  cursor: pointer;
}
div.tds-communication-log .tx-container .txbody .proprow .payment-not-due {
  display: block;
  position: relative;
  top: -12px;
  right: -24px;
  font-size: 12px;
  margin-bottom: -10px;
}
div.tds-communication-log .tx-container .txbody .proprow .txrow {
  cursor: pointer;
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 1px;
}
div.tds-communication-log .tx-container .txbody .proprow .txrow .detcol {
  text-align: left;
  padding: 5px;
}
div.tds-communication-log .tx-container .txbody .proprow .txrow .tickbox {
  margin-top: -3px !important;
}
div.tds-communication-log .tx-container .txbody .proprow .txdetail {
  margin-left: 3px;
  margin-right: 3px;
  background-color: #f7f7f7;
}
div.tds-communication-log .tx-container .txbody .proprow .txdetail .txextra .row {
  width: 200px;
}
div.tds-communication-log .tx-container .txbody .proprow .txdetail .txparties {
  margin-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
div.tds-communication-log .tx-container .txbody .proprow .txdetail .txparties .partyrow:last-child {
  margin-bottom: 5px;
}
div.tds-communication-log .tx-container .txbody .proprow .txdetail .txparties .partyrow input {
  text-align: right;
  border: none;
  background-color: transparent;
  padding: 0px !important;
}
div.tds-communication-log .tx-container .txbody .proprow .txdetail .txparties .partyrow .contact {
  margin-left: 325px;
  width: 259px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.tds-communication-log .tx-container .txbody .proprow .txdetail .txparties .partyrow .contact .name {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.tds-communication-log .tx-container .txbody .proprow .txdetail .txparties .partyrow .available {
  margin-left: 11px;
  width: 75px;
  text-align: right;
}
div.tds-communication-log .tx-container .txbody .description {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: inherit;
  overflow: hidden;
  float: left;
}
#TDSModal .bootstrap .form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#TDSModal .record-status {
  font-size: 14px;
  display: inline-block;
  position: relative;
  top: 1px;
}
#deposit-tab .tickbox.disabled {
  cursor: default;
}
#deposit-tab .tickbox.disabled input {
  cursor: default;
}
#deposit-tab #Tenancy_DepositProtection_GeneralNotes,
#deposit-tab #Tenancy_DepositProtection_SchemeRegistrationNumber,
#deposit-tab #Tenancy_DepositProtection_DisputeNotes {
  width: 352px;
}
#deposit-tab #Tenancy_DepositProtection_SchemeRegistrationNumber {
  padding: 7px 0px 7px 3px !important;
  width: 355px;
  position: relative;
}
#deposit-tab .disabled {
  color: darkgray !important;
}
#deposit-tab .tds-show-nodispute-hidden {
  display: none;
}
#deposit-tab .certificates-goup .list-group-item {
  border: 1px solid #cccccc;
}
#deposit-tab .tds-certificates .tdsdoc {
  width: 360px;
  padding: 10px 10px 8px 5px;
}
#deposit-tab .tds-certificates .tdsdoc a.caption {
  padding: 0px;
  box-shadow: none;
  display: inline-block;
  width: 100%;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .shield-col {
  padding: 0px !important;
  display: inline-block;
  float: left;
  width: 43px;
  margin-right: 5px;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .shield-col .fa-shield {
  font-size: 38px;
  line-height: 38px;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .tdslogo-col {
  display: inline-block;
  float: right;
  width: 68px;
  padding: 0px;
  background-color: transparent;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .tdslogo-col .tds-logo-svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  margin-right: 3px;
  margin-top: 7px;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .tdslogo-col .tds-logo-svg svg path {
  fill: #6d6d6d;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .tdslogo-col .tds-text {
  display: inline-block;
  float: left;
  color: grey;
  font-weight: bold;
  font-size: 22px;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .certificate-col {
  display: inline-block;
  width: 200px;
  float: left;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .certificate-col .caption {
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  width: 100%;
  float: left;
  color: #e41e76;
  text-align: left;
}
#deposit-tab .tds-certificates .tdsdoc a.caption .certificate-col .date-field {
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  width: 100%;
  float: left;
  color: #323232;
  text-align: left;
  padding-top: 4px;
}
#deposit-tab .lockcontrols {
  pointer-events: none;
  cursor: not-allowed;
}
#deposit-tab .lockcontrols input {
  background-color: #f9f9f9;
}
#deposit-tab .lockcontrols .fa-date-icon-after {
  color: #888888;
}
#deposit-tab .lockcontrols .fa-date-icon-after .lockcontrols {
  opacity: 1;
}
#deposit-tab .lockcontrols .date-input-border {
  background-color: #f9f9f9;
}
#deposit-tab .lockcontrols.customStyleSelectBox {
  background-color: #f9f9f9 !important;
}
#deposit-tab .dispute-service-row {
  display: inline-block;
  float: left;
  width: 363px;
}
#deposit-tab .dispute-service-row label {
  display: inline-block;
  float: left;
}
#deposit-tab .dispute-service-row .enable-uploads {
  display: inline-block;
  float: right;
}
#deposit-tab .dispute-status-row {
  display: inline-block;
  float: left;
  width: 360px;
  padding-bottom: 5px;
}
#deposit-tab .dispute-status-row label {
  display: inline-block;
  float: left;
}
#deposit-tab .dispute-status-row .customStyleSelectBox {
  display: inline-block;
  float: left;
  width: 96px !important;
  padding: 7px 10px;
}
#deposit-tab .dispute-status-row #Tenancy_DepositProtection_DisputedAmount,
#deposit-tab .dispute-status-row .dispute-amount-label {
  display: inline-block;
  float: right;
}
#deposit-tab .date-input-border {
  border: 1px solid #cccccc;
  padding: 4px 5px 4px 2px;
  cursor: pointer;
  position: relative;
  top: -5px;
  min-width: 109px;
}
#deposit-tab .date-input-border .no-date-set {
  color: darkgray;
  font-size: 11px;
}
#deposit-tab #Tenancy_DepositProtection_DisputedAmount {
  min-width: 109px;
  padding: 7px 10px !important;
}
#deposit-tab .deposit-protection-end-date-row {
  margin-top: -5px;
  position: relative;
  left: 1px;
}
#deposit-tab .deposit-protection-end-date-row .fa-date-icon-after::before {
  left: 7px;
}
#deposit-tab .dispute-amount-input {
  padding: 7px 7px 8px 9px !important;
}
#deposit-tab .dispute-amount-input.disabled {
  color: #888888;
  padding: 7px 7px 8px 9px !important;
}
#deposit-tab .dispute-amount-date-input {
  padding: 7px 7px 8px 40px !important;
  cursor: pointer;
}
#deposit-tab dispute-amount-date-input {
  color: #888888;
}
#deposit-tab .dispute-amounts-heading {
  margin: 10px 0px !important;
  min-height: 12px;
  font-weight: bold;
}
#deposit-tab .fa-date-icon-after {
  display: inline-block;
  padding: 0px !important;
}
#deposit-tab .fa-date-icon-after::before {
  font-family: "FontAwesome";
  content: '\f073';
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 8px;
  font-size: 22px;
  margin-right: -24px;
  cursor: pointer;
}
#deposit-tab .fa-date-icon-after:disabled {
  color: #888888;
}
#deposit-tab #tdsCommunicationStateInfo {
  display: inline-block;
  position: relative;
  top: -2px;
}
#deposit-tab #tdsCommunicationStateInfo .tds-icon .fa,
#deposit-tab #tdsCommunicationStateInfo .tds-info .fa {
  font-size: 28px !important;
  display: inline-block;
  margin-top: -5px;
  top: 7px;
  margin-left: 5px;
  position: relative;
}
#deposit-tab #tdsCommunicationStateInfo .tds-icon .tds-link,
#deposit-tab #tdsCommunicationStateInfo .tds-info .tds-link {
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  margin-left: 7px;
  text-decoration: underline;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1130px) {
  #deposit-tab #tdsCommunicationStateInfo {
    margin: 5px 0px 10px 0px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1130px) {
  #deposit-tab .registrationNumberColumn {
    max-width: 365px;
  }
}
#deposit-tab .btn-upload-end-of-tenancy-to-tds {
  display: inline-block;
  float: left;
  font-size: 14px;
  color: white;
  background-color: #379802;
  padding: 2px 15px;
  cursor: pointer;
}
#deposit-tab .btn-upload-end-of-tenancy-to-tds:hover {
  background-color: #40b102;
}
#deposit-tab .btn-label {
  display: inline-block;
  float: left;
  color: grey;
  padding: 9px 0px 9px 15px;
}
div.tds-show-nodispute {
  display: none;
}
