li.item div.extension[data-feature="diary-export"] > i.activated {
  color: #7db034;
}
li.item.on div.extension[data-feature="diary-export"] > i.activated {
  color: white;
}
li.item.on div.extension[data-feature="diary-export"] > i {
  color: grey;
}
.bootstrap .btn.btn-diary {
  background-color: #7db034;
  color: white;
  border-color: #99db65;
}
.bootstrap .btn.btn-diary[disabled]:hover {
  background-color: #7db034;
}
#diary-export-dialog #diary-export-url {
  min-height: 24px;
  font-size: 12px;
}
