.merge-codes-instructions {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #262630;
  margin-bottom: 4px;
}
.merge-code-btn {
  box-sizing: border-box;
  background: #e6f9fa;
  border: 1px solid #a5ebeb;
  border-radius: 5px;
  margin: 4px;
}
.merge-code-btn:hover {
  background: #d7f6f5;
  border: 1px solid #a5ebeb;
  border-radius: 4px;
}
#tab-bar-email-codes {
  background: #edeced !important;
}
.tab-email-codes-title {
  font-family: Lato;
  font-size: 14px;
}
#gfg {
  height: 155px !important;
}
