body .bootstrap div.alto-table {
  border-left: white 1px solid;
}
body .bootstrap div.alto-table .tick-and-cross {
  display: inline-block;
  float: left;
  width: 80px;
  min-width: 80px;
  height: 100%;
  padding-bottom: 1px;
}
body .bootstrap div.alto-table .tick-and-cross .btn {
  min-width: 30px !important;
  max-width: 30px !important;
  padding: 3px !important;
}
body .bootstrap div.alto-table .tick-and-cross .btn-group {
  width: 70px !important;
  padding-top: 5px;
  padding-bottom: 7px;
}
body .bootstrap div.alto-table div.header {
  position: sticky;
  top: 0;
  z-index: 9;
}
body .bootstrap div.alto-table div.body > .row.bordered,
body .bootstrap div.alto-table div.header > .row.bordered {
  border-bottom: 1px solid white;
  line-height: 42px;
}
body .bootstrap div.alto-table div.body > .row.bordered.no-margin-bottom,
body .bootstrap div.alto-table div.header > .row.bordered.no-margin-bottom {
  margin-bottom: 0 !important;
}
body .bootstrap div.alto-table div.body > .row.bordered > div,
body .bootstrap div.alto-table div.header > .row.bordered > div {
  border-left: 1px solid white;
  min-height: 42px;
}
body .bootstrap div.alto-table div.body > .row.bordered > div *.centred,
body .bootstrap div.alto-table div.header > .row.bordered > div *.centred {
  display: table;
  margin: auto auto;
}
body .bootstrap div.alto-table.striped div.body > div.row:nth-child(2n+1) {
  background-color: #f4f4f4;
}
body .bootstrap div.alto-table.striped div.body > div.row:nth-child(2n) {
  background-color: #eaeaea;
}
body .bootstrap div.alto-table.striped div.body > div.row:hover {
  background-color: #f6f6f6 !important;
}
body .bootstrap div.alto-table.property-file-details .tick-and-cross {
  margin-left: 15px;
  width: 100%;
  padding-right: 15px;
  text-align: center;
  float: none;
}
body .bootstrap div.alto-table.property-file-details .tick-and-cross .btn-group {
  width: 60px !important;
  margin: auto;
}
