.header-outer {
  display: inline-block;
  height: 41px;
  width: 570px;
}
.header-outer .searchbox {
  border: 1px solid #05bcf4;
  height: 27px;
  background-color: white;
}
.header-outer .searchbox .search-close {
  display: none;
  cursor: pointer;
  float: right;
  width: 18px;
  height: 10px;
  margin-left: -18px;
  z-index: 9999;
  position: relative;
  left: 0px;
  top: 10px;
  background-color: white;
  background: url(/content/media/images/gui/icons/grey_light/x_7x7.png) no-repeat;
}
.header-outer .searchbox .icon {
  background-color: #05bcf4;
  width: 27px;
  height: 27px;
  background-image: url(/content/media/images/gui/icons/search-white.png);
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}
.header-outer .searchbox .searchtext {
  height: 27px;
  display: inline-block;
  float: left;
  border: none;
  padding-left: 10px;
  width: 510px;
  margin-right: 20px;
}
.picker-outer {
  display: inline-block;
  height: 300px;
  width: 570px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.negotiator-outer {
  display: inline-block;
  width: 529px;
  padding: 8px 10px 7px 10px;
  background-color: #fbfbfb;
  color: grey;
  font-size: 12px;
  cursor: pointer;
  float: left;
  border-top: 1px solid white;
  border-bottom: 1px solid #efefef;
  opacity: 1;
}
.negotiator-outer:nth-child(odd) {
  background: #f8f8f8;
}
.negotiator-outer.selected {
  background: #c1efff;
}
.negotiator-outer.selected:nth-child(odd) {
  background: #b0eafd;
}
.negotiator-outer.hidden {
  display: none;
}
.negotiator-outer.disabled {
  opacity: 0.5;
}
.negotiator-outer.current-neg {
  margin-bottom: 10px;
  border-top: none;
  border-bottom: none;
  width: 549px;
}
.negotiator-outer.current-neg .liststatus {
  margin-right: 40px;
}
.negotiator-outer .has-list {
  display: inline-block;
  float: left;
  width: 10px;
  height: 33px;
  position: relative;
  left: -10px;
  top: -8px;
  margin-bottom: -21px;
  opacity: 0.7;
  background-color: #d0d0d0;
}
.negotiator-outer .has-list.active {
  background-color: #05bcf4;
}
.negotiator-outer .icon {
  display: inline-block;
  float: left;
  width: 17px;
  height: 17px;
  opacity: 0.7;
}
.negotiator-outer .negname {
  display: inline-block;
  float: left;
  margin-left: 10px;
  width: 120px;
  color: #2f2f2f;
}
.negotiator-outer .position {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 120px;
}
.negotiator-outer .branchname {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.negotiator-outer .liststatus {
  display: inline-block;
  float: right;
  margin-right: 20px;
  color: #0265ab;
}
.negotiator-outer .liststatus .icon {
  display: inline-block;
  float: left;
  width: 17px;
  height: 17px;
  opacity: 0.7;
}
