.order-media-button {
  display: inline-flex;
  background: white;
  box-shadow: 0px 8px 8px rgba(50, 39, 68, 0.16), 0px 0px 1px rgba(50, 39, 68, 0.32), 0px 0px 8px rgba(50, 39, 68, 0.04);
  border-radius: 8px;
  padding: 8px 16px 16px 8px;
  text-decoration: none !important;
  width: 150px;
  box-sizing: border-box;
}
.order-media-button:visited {
  color: #262630;
}
.order-media-button .order-media-button__title {
  font-family: 'lato-bold', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #262630;
}
.order-media-button .order-media-button__cta {
  text-decoration: underline;
  text-decoration-color: #236184;
  text-underline-offset: 2px;
  font-family: 'lato-bold', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #262630;
}
.order-media-button .order-media-button__image {
  border-radius: 4px;
}
