div.add-a-property-from-contact {
  background-color: white;
  font-family: 'Lato', sans-serif !important;
  box-sizing: border-box;
  margin-top: -8px;
}
div.add-a-property-from-contact .alto-cloud {
  height: 17px;
  position: relative;
  background-image: url("/Content/Media/Images/Gui/Icons/Alto-Cloud-White.svg");
  background-repeat: no-repeat;
  opacity: 1;
  padding-left: 25px;
  background-position: left;
}
div.add-a-property-from-contact .btn-property-add-from-contact {
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  min-width: 100px;
  padding: 8px 12px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Lato', sans-serif !important;
  text-align: center;
}
