#reporting .ui-accordion-content {
  display: none;
}
#reporting .modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#reporting .modal-container {
  background-color: #eaeaea;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 300px;
  box-shadow: 1px 1px 5px 1px #505050;
}
#reporting .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  background-color: #505050;
}
#reporting .modal-content {
  padding: 20px 20px 40px;
}
#reporting .modal-footer {
  border-top: 1px solid #cfcfcf;
  background-color: #e3e3e3;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}
#reporting .modal-button {
  margin-left: 10px;
  height: auto;
}
#reporting .modal-close-button {
  background: none;
  cursor: pointer;
}
#reporting .modal-title {
  color: white;
  font-size: 15px;
  font-weight: normal;
  line-height: 33px;
  text-align: center;
  text-shadow: 0 0 0 #323232;
}
#reporting .confirmation-modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#reporting .confirmation-container {
  background-color: #eaeaea;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 1px 1px 5px 1px #505050;
}
#reporting .confirmation-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#reporting .confirmation-text {
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 33px;
}
#reporting .add-column-container {
  display: none;
}
#reporting .add-column-button {
  background: none;
  margin: 10px 0 0 5px;
  padding: 5px 3px;
  height: auto;
  display: flex;
  align-items: center;
  border: none;
  color: #29a9eb;
}
#reporting .add-column-icon {
  position: relative;
  top: auto;
  left: auto;
}
#reporting .add-column-text {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
}
#reporting .report-status {
  display: none;
}
#reporting .report-status-container {
  display: flex;
  align-items: flex-start;
  padding: 25px 25px 25px 8px;
}
#reporting .report-status-inner {
  display: none;
}
#reporting .report-status-right {
  padding-left: 8px;
}
#reporting .report-status-left {
  width: 40px;
  display: flex;
  justify-content: center;
}
#reporting .report-status-text {
  font-size: 12px;
  color: black;
}
#reporting .report-status-heading {
  font-weight: 700;
  margin-bottom: 5px;
}
#reporting .report-status-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
#reporting .report-status-button {
  margin-left: 15px;
  background: none;
  padding: 10px 0 10px 5px;
  font-size: 12px;
}
#reporting .loader,
#reporting .loader:before,
#reporting .loader:after {
  border-radius: 50%;
}
#reporting .loader {
  color: #29a9eb;
  position: relative;
  width: 30px;
  height: 30px;
  box-shadow: inset 0 0 0 5px;
  transform: translateZ(0);
}
#reporting .loader:before,
#reporting .loader:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 32px;
  background: white;
}
#reporting .loader:before {
  border-radius: 30px 0 0 30px;
  top: -1px;
  left: -1px;
  transform-origin: 16px;
  animation: rotate 2s infinite ease 1.5s;
}
#reporting .loader:after {
  border-radius: 0 30px 30px 0;
  top: -1px;
  left: 15px;
  transform-origin: 0 16px;
  animation: rotate 2s infinite ease;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
a:active,
a:hover {
  text-decoration: none;
  color: #555555;
  cursor: pointer;
}
.new-report-content {
  padding: 20px 15px 20px 30px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #f1f1f1;
}
.new-report-description {
  color: #6d6d6d;
}
a.new-report-button:link {
  border: none;
  text-decoration: none;
}
.report-name-details {
  font-size: 13px;
  font-weight: normal;
}
.report-name-details span {
  font-size: inherit;
}
.report-requests-wrapper {
  position: relative;
  margin-left: 15px;
  top: -10px;
}
.report-requests-button {
  padding: 8px 10px;
  color: #6d6d6d;
  line-height: unset;
  height: auto;
}
.report-requests-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.report-requests-list .report-requests {
  display: inline-block;
  background-color: white;
  padding: 5px;
}
.report-requests-button.dropped + .report-requests-list {
  display: block;
}
.report-requests-title {
  display: inline-block;
  margin: 0 5px;
}
