/* WINDOW */

.bg /* used exclusively for the modal bg to windows, but todo - expand this for any use with custom top, left, etc or 0's all around within the right element */
{
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 32px;
    bottom: 0px;
    background-color: #303030;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 40;
}

.window /* no default height set, to support variable-height windows */
{
    position: absolute;
    z-index: 40;
    display: none; /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.window .customStyleSelectBox
{
    background-color: #fff;
}

.window > .top
{
    position: relative;
    height: 34px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.window > .top > .status
{
    border: 2 solid #ffffff;
    font-size: 12px;
    left: -25px;
    padding: 8px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    width: 77px;
    box-shadow: 0px 0px 3px #444;
    transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    writing-mode: rl-tb;
}

.window > .top > .ownership
{
    font-size: 10px;
    padding: 0;
    position: absolute;
    right: 6px;
    text-align: right;
    text-transform: uppercase;
    top: 4px;
}

.window > .top .branding
{
    background: none repeat scroll 0 0 #808080;
    color: #FFFFFF;
    font-size: 12px;
    height: 34px;
    line-height: 35px;
    padding: 0 31px 0 10px;
    position: absolute;
    right: 0px;
    text-align: right;
    text-transform: uppercase;
    top: 0px;
    border-left: 1px solid #000000;
}
.window > .top .branding .icon {
    background: url("/content/media/images/gui/icons/white/cog_16x16.png") no-repeat scroll right center transparent;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 10px;
    width: 16px;
}
.window > .top .branding:hover {
    background-color: #F87217;
    cursor: pointer;
}

.window > .top > .title
{
    font-size: 14px;
    color: #444;
    font-weight: normal;
    line-height: 34px;
    text-align: center;
    text-shadow: 0 1px 1px #E9E9E9;
}

.window > .middle
{
    background-color: #cccccc;
}

.window > .middle > .content
{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.window > .middle > .content.scrollable{
    overflow:auto;
}

.window > .middle > .content.contentCanOverflow {
    overflow: visible;
}

.window > .middle > .content.padded
{
    padding: 15px;

}

.window > .middle > .read-only
{
    display: none;
    position: absolute;
    top: 34px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    opacity: 0.4;
    background-color: #999999;
    z-index: 2;
}

.window > .bottom
{
    height: 40px;
    border-top: 1px solid #cfcfcf;
    background-color: #e3e3e3;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.window > .bottom > .buttons
{
    margin-right: 7px;
}

.window > .bottom > .buttons > .btn
{
    float: right;
    margin-top: 5px;
    margin-left: 8px;
}

.window > .bottom > .buttons > .cancel-button {
    float: left;
}

.window-title-plugin
{
    display: none;
    margin-top: 6px;
    margin-right: 5px;
    float: right;
}
.window-title-plugin label
{
    padding-top: 4px !important;
}

.window-title-insert .customStyleSelectBox /* A special style for dropdowns placed into window title bars */
{  
    border: 1px transparent;
    border-left: 1px dotted #8a8a8a;
    border-right: 1px dotted #8a8a8a;
    border-radius: 0px;
    height: 21px;
    background: transparent !important; /*#80b436 !important;*/
    color: #ffffff !important;    
}
.window-title-insert:hover
{
    background-color: #707070;
}
.window-title-insert select:hover
{
   cursor: pointer !important;
}
.window-title-insert .customStyleSelectBoxInner
{
    background: url("/content/media/images/gui/common/h2down.png") no-repeat bottom right;
    font-size: 15px;
    height: 19px;
    line-height: 19px;
    text-align: center;
}


/* "Sharp" THEME */
.window
{
    box-shadow: 0 0 50px #707070 !important;
}
.window .top
{
    background-color: #505050;
}
.window .top .ownership
{
    color: #d0d0d0;
}
.window > .top > .title
{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    line-height: 33px;
    text-align: center;
    text-shadow: 0 0 0 #323232;
}
.window .middle
{
    background-color: #efefef;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
   .window /* need to set a maximum for the ipad */
    {
        max-height:700px;
    }

   /* then allow the contents to scroll */
    .window > .middle > .content {
        overflow-y: auto;
        max-height: 600px;
    }
}